.screen-two {
  background: radial-gradient(60.01% 27.12% at 49.96% 45.36%, #ffbf35 0%, #f40101 100%) !important;
}
.screen-two .auto,
.screen-two .text-wrapper,
.screen-two .auto-lights {
  transform: translateX(-400px);
}
.screen-two .title-two,
.screen-two .person,
.screen-two .star {
  transform: translateX(0);
}
.screen-two .text-wrapper .text-one,
.screen-two .text-wrapper .text-two,
.screen-two .text-wrapper .text-three {
  transition: 0.2s;
  opacity: 1;
  transform: translateX(-400px);
}
.screen-two .text-wrapper-two .text-one,
.screen-two .text-wrapper-two .text-two,
.screen-two .text-wrapper-two .text-three {
  opacity: 1;
  transform: translateX(0);
}
.screen-two .banner {
  background-image: none;
}
.screen-two .title-line-one,
.screen-two .title-line-two {
  opacity: 0;
  transform: translateX(-400px);
  transition: 0.2s;
}
.screen-two .title-two-line-one,
.screen-two .title-two-line-two {
  transform: translateX(0);
}
.screen-two .jackpot {
  opacity: 0;
}