.about__description {
    @include font;
    font-size: $text;
    font-weight: 400;
    max-width: 500px;
    margin-bottom: 20px;
    line-height: 1.5;

    span {
        font-weight: 500;
    }

    &:last-of-type {
        margin-bottom: 0;
        max-width: 400px;
    }

    @media screen and (max-width:780px) {
        max-width: unset;
    }
}