@import "./fonts.scss";
@import "./animations.scss";
@import "./screen-one.scss";
@import "./screen-two.scss";
@import "./screen-three.scss";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 970px;
    height: 250px;
    overflow: hidden;
}

.wrapper {
    background: radial-gradient(46.8% 704.61% at 58.87% 76.8%, #ffd049 10.54%, #f30000 79.6%);
    width: inherit;
    height: inherit;
    overflow: inherit;
    position: relative;
    transition: 0.5s;
}

.banner {
    width: 970px;
    height: 250px;
    overflow: hidden;
    background-position: 100% 25%;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.logo {
    position: absolute;
    width: 103px;
    height: 108px;
    left: 32px;
    top: 36px;
    z-index: 100;
}

.holiday {
    position: absolute;
    width: 149.34px;
    height: 71px;
    left: 822.93px;
    top: 37px;
}

.title-wrapper {
    position: absolute;
    width: 396px;
    height: 26px;
    left: 125px;
    top: 43px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
    transition: 0.2s;
    opacity: 0;
}

.title-line-one {
    transition: 1s;
    transform: translateX(-500px);
}
.title-line-two {
    transition: 1.2s;
    transform: translateX(-500px);
}
.title-line-three {
    transition: 1.4s;
    transform: translateX(-500px);
}

.title-wrapper-two {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
    width: 600px;
    height: 50px;
    transition: 0.3s;
    bottom: 20px;
    left: -62px;
    background-color: #f40101;
    transform: translateX(-550px);
    transition: 1s;
    opacity: 0;
}

.title-two-line-one {
    transition: 1s;

    span {
        font-size: 28px;
    }
}

.auto {
    position: absolute;
    width: 401px;
    left: 378px;
    top: -39px;
    transition: 1s;
    z-index: 10;
}

.auto-lights {
    position: absolute;
    top: 129px;
    width: 230px;
    left: 461px;
    transition: 1s;
    z-index: 11;
}

.text-wrapper {
    text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    width: 273px;
    height: 27px;
    left: 183px;
    top: 106px;
    position: absolute;
    z-index: 50;
    opacity: 0;

    .text-one {
        font-size: 23px;
        transition: 1.4s;
        transform: translateX(-500px);
    }

    .text-two {
        font-size: 35px;
        transition: 1.6s;
        transform: translateX(-500px);
    }

    .text-three {
        font-size: 23px;
        transition: 1.8s;
        transform: translateX(-500px);
    }
}

.text-wrapper-two {
    position: absolute;
    top: 40px;
    left: 150px;
    text-align: left;
    text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    color: #fff;
    z-index: 51;
    opacity: 0;

    .text-one {
        font-size: 23px;
        transition: 1.4s;
        transform: translateX(-450px);
    }

    .text-two {
        font-size: 35px;
        transition: 1.6s;
        transform: translateX(-450px);
    }

    .text-three {
        font-size: 23px;
        transition: 1.8s;
        transform: translateX(-450px);
    }
}

.jackpot {
    position: absolute;
    width: 631px;
    height: 33px;
    left: -88px;
    top: 188px;
    transform: rotate(3.35deg);
    transition: 0.2s;
}

.person {
    position: absolute;
    width: 753px;
    left: 247px;
    top: 9px;
    transform: translateY(100%);
    transition: 0.2s;
}

.star {
    position: absolute;
    width: 420px;
    height: 403px;
    right: 119px;
    top: -31px;
    mix-blend-mode: overlay;
    transition: 0.2s;
    transform: translateY(0);
    z-index: 0;
}

.button {
    z-index: 99;
    position: absolute;
    width: 246px;
    height: 58px;
    right: 20px;
    bottom: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffdd00;
    border: none;
    border-radius: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background: #ffe95b;
        transition: 0.2s;
    }
}

.disclamer {
    position: absolute;
    width: 621px;
    height: 185px;
    left: 177px;
    top: 31px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10.7px;
    line-height: 13px;
    color: #ffffff;
    transition: 0.2s;
    opacity: 0;
}
