@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@-webkit-keyframes autoFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes autoFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
@keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
.auto-fly {
  -webkit-animation: autoFly infinite 3s ease;
          animation: autoFly infinite 3s ease;
}

.button-glow {
  -webkit-animation: buttonShadow infinite 2s ease-in-out;
          animation: buttonShadow infinite 2s ease-in-out;
}

.screen-two {
  background: radial-gradient(28.25% 425.25% at 57.73% 82.8%, #efe94d 0%, #ff8b02 100%);
}
.screen-two .title,
.screen-two .auto,
.screen-two .jackpot,
.screen-two .top,
.screen-two .line {
  transform: translateY(300px);
}
.screen-two .title-two,
.screen-two .person,
.screen-two .line-two {
  transform: translateY(0);
}

.screen-three {
  background: #ffb902;
}
.screen-three .title-two,
.screen-three .button,
.screen-three .person,
.screen-three .line-two {
  transform: translateY(300px);
}
.screen-three .disclamer {
  transform: translateY(0);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 728px;
  height: 90px;
  overflow: hidden;
  position: relative;
}

.wrapper {
  overflow: inherit;
  background: radial-gradient(33.61% 505.95% at 59.43% 69.8%, #eeed50 0%, #ff8b02 100%);
  position: inherit;
  width: inherit;
  height: inherit;
}

.banner {
  position: inherit;
  width: inherit;
  height: inherit;
  cursor: pointer;
  overflow: hidden;
}

.logo {
  position: absolute;
  width: 40px;
  left: 10px;
  top: calc(50% - 40px / 2);
  z-index: 2;
}

.holiday {
  position: absolute;
  height: 40px;
  right: 0;
  top: calc(50% - 40px / 2);
  z-index: 5;
}

.title {
  position: absolute;
  width: 400px;
  left: 60px;
  top: 11px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
}
.title span {
  font-size: 24px;
  line-height: 1;
}

.title-two {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  width: 288px;
  left: 60px;
  top: 30px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  transform: translateY(100px);
  transition: 0.3s;
}

.person {
  position: absolute;
  width: 174px;
  left: 383px;
  top: -31px;
  z-index: 20;
  transition: 0.2s;
  transform: translateY(100px);
}

.line {
  position: absolute;
  height: 20px;
  left: -30px;
  bottom: 11px;
  z-index: 1;
  transition: 0.2s;
}

.line-two {
  position: absolute;
  height: 40px;
  left: 279px;
  top: calc(50% - 40px / 2);
  transform: translateY(100px);
  transition: 0.3s;
}

.auto {
  position: absolute;
  top: 33px;
  left: 380px;
  transition: 0.2s;
  z-index: 3;
  width: 150px;
}

.top {
  z-index: 2;
  position: absolute;
  left: 370px;
  top: -3px;
  width: 180px;
  transition: 0.2s;
}

.button {
  position: absolute;
  width: 120px;
  height: 40px;
  right: 90px;
  bottom: calc(50% - 40px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffdd00;
  border: none;
  border-radius: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  color: #000000;
  transition: 0.2s;
  cursor: pointer;
  z-index: 0;
}
.button:hover {
  background: #ffe95b;
  transition: 0.2s;
}

.disclamer {
  position: absolute;
  width: 575px;
  left: 60px;
  top: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1;
  color: #000;
  transform: translateY(350px);
  transition: 0.3s;
}