@import "./fonts.scss";
@import "./animations.scss";
@import "./screen-one.scss";
@import "./screen-two.scss";
@import "./screen-three.scss";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 728px;
    height: 90px;
    overflow: hidden;
    position: relative;
}

.wrapper {
    overflow: inherit;
    background: radial-gradient(33.61% 505.95% at 59.43% 69.8%, #eeed50 0%, #ff8b02 100%);
    position: inherit;
    width: inherit;
    height: inherit;
}

.banner {
    position: inherit;
    width: inherit;
    height: inherit;
    cursor: pointer;
    overflow: hidden;
}

.logo {
    position: absolute;
    height: 80%;
    left: 10px;
    top: 10px;
    z-index: 90;
}

.holiday {
    position: absolute;
    height: 40px;
    right: 0;
    top: calc(50% - 40px / 2);
    z-index: 5;
}

.title-wrapper {
    position: absolute;
    width: 400px;
    left: 90px;
    top: 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
    opacity: 0;
}

.title-line-one {
    transition: 0.8s;
    transform: translateX(-630px);
}
.title-line-two {
    font-size: 22px;
    margin-top: 2px;
    transition: 1s;
    transform: translateX(-630px);
}

.title-wrapper-two {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    width: 288px;
    left: 90px;
    top: 30px;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0;
}

.title-two-line-one {
    transition: 0.8s;
    transform: translateX(-400px);
}
.title-two-line-two {
    transition: 1s;
    transform: translateX(-400px);
}

.person {
    position: absolute;
    width: 174px;
    left: 383px;
    top: -31px;
    z-index: 20;
    transition: 1s;
    transform: translateY(100px);
}

.line {
    position: absolute;
    height: 20px;
    left: 0px;
    bottom: 11px;
    z-index: 1;
    transition: 1s;
    opacity: 0;
}

.line-two {
    position: absolute;
    height: 40px;
    left: 279px;
    top: calc(50% - 40px / 2);
    transform: translateY(100px);
    opacity: 0;
}

.auto {
    position: absolute;
    top: 33px;
    left: 380px;
    transition: 1s;
    z-index: 3;
    width: 150px;
}

.top {
    z-index: 2;
    position: absolute;
    left: 370px;
    top: -7px;
    width: 180px;
    transition: 1s;
}

.button {
    position: absolute;
    width: 120px;
    height: 40px;
    right: 90px;
    bottom: calc(50% - 40px / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffdd00;
    border: none;
    border-radius: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    color: #000000;
    transition: 0.2s;
    cursor: pointer;
    z-index: 0;

    &:hover {
        background: #ffee7e;
        transition: 0.2s;
    }
}

.disclamer {
    position: absolute;
    width: 550px;
    left: 90px;
    top: 5px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1;
    color: #000;
    transition: 0.2s;
    opacity: 0;
}
