.screen-two {
  background: radial-gradient(28.25% 425.25% at 57.73% 82.8%, #efe94d 0%, #ff8b02 100%);
}
.screen-two .title,
.screen-two .auto,
.screen-two .jackpot,
.screen-two .top,
.screen-two .line {
  transform: translateY(300px);
}
.screen-two .title-two,
.screen-two .person,
.screen-two .line-two {
  transform: translateY(0);
}