.screen-three {
  background: #ffb902;
}
.screen-three .button,
.screen-three .person,
.screen-three .line-two {
  transition: 0.2s;
  transform: translateY(100px);
}
.screen-three .disclamer {
  opacity: 1;
  transition: 1s;
}
.screen-three .title-two-line-one,
.screen-three .title-two-line-two {
  transition: 0.2s;
  transform: translateX(-450px);
}
.screen-three .line,
.screen-three .line-two {
  opacity: 0;
}