@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@-webkit-keyframes moneyFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moneyFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes autoFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes autoFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
@keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
.money-fly {
  -webkit-animation: moneyFly infinite 3s ease;
          animation: moneyFly infinite 3s ease;
}

.auto-fly {
  -webkit-animation: autoFly infinite 3s ease;
          animation: autoFly infinite 3s ease;
}

.button-glow {
  -webkit-animation: buttonShadow infinite 2s ease-in-out;
          animation: buttonShadow infinite 2s ease-in-out;
}

.screen-two .title,
.screen-two .person,
.screen-two .money,
.screen-two .auto,
.screen-two .jackpot {
  transform: translateX(-150%);
}
.screen-two .title-two,
.screen-two .moneypot {
  transform: translateX(0);
}

.screen-three .title-two,
.screen-three .moneypot,
.screen-three .button {
  transform: translateX(-150%);
}
.screen-three .disclamer {
  transform: translateX(0);
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.wrapper {
  width: 240px;
  height: 400px;
  overflow: hidden;
  position: relative;
  background: radial-gradient(62.6% 40.34% at 53% 47.99%, #ffb74b 0.39%, #ff5c00 73.96%, #ff4d00 100%);
}

.banner {
  width: 240px;
  height: 400px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.logo {
  position: absolute;
  width: 40px;
  left: 10px;
  top: 10px;
}

.holiday {
  position: absolute;
  height: 43px;
  right: 10px;
  top: 10px;
}

.title {
  position: absolute;
  left: 0;
  top: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  width: 100%;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.2s;
}

.title-two {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  width: 300px;
  font-size: 28px;
  line-height: 30px;
  top: 141px;
  left: 0;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  transform: translateX(100%);
  transition: 0.3s;
}

.person {
  position: absolute;
  width: 650px;
  left: -200px;
  top: 50px;
  z-index: 0;
  transition: 0.2s;
}

.money {
  position: absolute;
  width: 360px;
  left: -110px;
  top: 53px;
  z-index: 10;
  transition: 0.2s;
}

.auto {
  position: absolute;
  width: 210px;
  top: 124px;
  right: -67px;
  transition: 0.2s;
}

.jackpot {
  position: absolute;
  width: 348.92px;
  height: 71.29px;
  left: -21.13px;
  top: 399.89px;
  transform: rotate(-4.88deg);
  transition: 0.2s;
}

.moneypot {
  position: absolute;
  width: 1001px;
  height: 248px;
  left: -492px;
  top: 256px;
  transform: translateX(100%);
  transition: 0.3s;
}

.button {
  position: absolute;
  width: 255px;
  height: 58px;
  left: 23px;
  top: 524px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffdd00;
  border: none;
  border-radius: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  transition: 0.2s;
  cursor: pointer;
}
.button:hover {
  background: #ffe95b;
  transition: 0.2s;
}

.disclamer {
  position: absolute;
  width: 261px;
  height: 462px;
  left: 15px;
  top: 120px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10.7px;
  line-height: 13px;
  color: #ffffff;
  transform: translateX(150%);
  transition: 0.3s;
}