@import "./fonts.scss";
@import "./animation.scss";

* {
    margin: 0;
    padding: 0;
}

.page {
    width: 100%;
}

.banner {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 600px;
    cursor: none;
}

.first-screen {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url(./First.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;

    .click {
        position: absolute;
        bottom: 80px;
        right: -6px;
        z-index: 2;
        width: 100px;
    }
}

.header {
    position: absolute;
    width: calc(100% - 20px);
    top: 10px;
    left: 10px;
    z-index: 10;
}

.doorhandle {
    width: 180px;
    position: absolute;
    top: 225px;
    right: -19px;
    z-index: 2;
}

.hand {
    width: 520px;
    pointer-events: none;
    position: absolute;
    z-index: 3;
    transform-origin: left;
    top: 0;
    left: 0;
}

.hand-default {
    top: 5px !important;
    left: -337px !important;
}

.card {
    top: 213px;
    left: 105px;
    position: absolute;
    z-index: 1;
    transform-origin: top;
    width: 110px;
}

.snow {
    pointer-events: none;
    position: absolute;
    z-index: 0;
}

.snow-xl {
    right: 25px;
}

.snow-l {
    left: 20px;
    animation-delay: 4s;
}

.snow-m {
    left: 80px;
    animation-delay: 8s;
}

.snow-s {
    left: 120px;
    animation-delay: 12s;
}

.transition {
    background-color: #1657d0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.second-screen {
    background-image: url(./Second.svg);
    position: relative;
    background-size: 300px 600px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    .click {
        position: absolute;
        bottom: 383px;
        right: -8px;
        z-index: 2;
        width: 100px;
    }
}

.chair {
    top: 103px;
    left: 70px;
    position: absolute;
    width: 180px;
}

.third-screen {
    background-image: url(./Third.svg);
    position: relative;
    background-size: 300px 600px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    .click {
        position: absolute;
        bottom: 376px;
        right: -4px;
        z-index: 2;
        width: 104px;
    }
}

.cart {
    top: 92px;
    left: 59px;
    position: absolute;
    width: 170px;
}

.fourth-screen {
    background-image: url(./Fourth.svg);
    position: relative;
    background-size: 300px 600px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    .click {
        position: absolute;
        bottom: 234px;
        right: -2px;
        transform: rotate(34deg);
        width: 100px;
    }
}

.vtb-card {
    width: 220px;
    top: 124px;
    left: calc(50% - (220px / 2));
    position: absolute;
    border-radius: 8px;
}

.vtb-card_seventh {
    width: 250px;
    top: 220px;
    left: calc(50% - (250px / 2));
}

.coctail {
    top: 98px;
    width: 160px;
    left: calc(50% - (160px / 2));
    position: absolute;
    border-radius: 5px;
    transform: scale(0);
}

.fifth-screen {
    background-image: url(./Fifth.svg);
    position: relative;
    background-size: 300px 600px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    .click {
        position: absolute;
        bottom: 261px;
        right: -2px;
        z-index: 2;
        width: 100px;
    }
}

.aircraft {
    width: 274px;
    position: absolute;
    top: 145px;
    left: 10px;
    z-index: 2;
}

.clouds {
    position: absolute;
    top: 149px;
    left: 240px;
    z-index: 1;
    width: 500px;
}

.sixth-screen {
    background-image: url(./Sixth.svg);
    position: relative;
    background-size: 300px 600px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    .click {
        position: absolute;
        top: 136px;
        left: 203px;
        z-index: 1;
        width: 100px;
    }
}

.seventh-screen {
    background-image: url(./Seventh.svg);
    position: relative;
    background-size: 300px 600px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    cursor: auto;
}

.disclamer-one {
    background-image: url(./Disclamer-1.svg);
    position: relative;
    background-size: 300px 600px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    cursor: auto;
}

.disclamer-two {
    background-image: url(./Disclamer-2.svg);
    position: relative;
    background-size: 300px 600px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    cursor: auto;
}

.percent {
    position: absolute;
    top: 153px;
    left: 47px;
    z-index: 1;
    width: 200px;
}

.button {
    background-color: #be006e;
    color: #ffffff;
    font-family: "VTB Group", sans-serif;
    font-weight: 400;
    position: absolute;
    bottom: 70px;
    left: calc(50% - (240px / 2));
    border: none;
    padding: 15px 20px;
    width: 240px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        transition: 0.2s;
        background-color: #6f0a4e;
    }
}
