@import "./animation.scss";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(./Montserrat-Light.woff) format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(./Montserrat-Regular.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(./Montserrat-SemiBold.woff) format("woff");
    font-weight: 600;
}

#colors {
    $yellow: #ffed1a !global;
    $orange: #ffa400 !global;
    $red: #c52734 !global;
    $white: #fff !global;
}

@mixin font {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.page {
    display: flex;
}

.banner {
    margin: 0 auto;
    background: #ffa400;
    width: 1080px;
    height: 607px;
    position: relative;
    overflow: hidden;
}

.banner__text-wrapper {
    position: absolute;
    top: 40px;
    left: 27px;
}

.banner__title {
    @include font;
    color: $white;
    line-height: 1.3;
    font-size: 33px;
    max-width: 520px;
    text-transform: uppercase;
}

.banner__title_first-line {
    animation-delay: 0.2s;
}

.banner__title_second-line {
    animation-delay: 0.5s;
    color: $yellow;
}

.banner__main-image {
    top: 140px;
    max-width: 350px;
    position: absolute;
    animation-delay: .8s;
    left: -25px;
}

.banner__paint-one {
    position: absolute;
    top: 99px;
    right: 36px;
    transform: scale(0);
    opacity: 0;
    border-radius: 100px;
    z-index: 1;
}

.banner__target {
    position: absolute;
    z-index: 2;
}

.banner__girl {
    position: absolute;
    z-index: 5;
    filter: drop-shadow(27px 40px 8px rgba(0, 0, 0, 0.25));
    transform: translateX(500px);
    animation-delay: .5s;
}

.banner__star-text {
    @include font;
    color: $white;
    position: absolute;
    bottom: 80px;
    line-height: 1.3;
    left: 27px;
    font-size: 17px;
    max-width: calc(100% - 54px);
    transform: translateY(500px);
    animation-delay: 1s;
}

.banner__disclamer {
    animation-delay: 1.1s;
    transform: translateY(500px);
}

.transition {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 10;
    opacity: 0;
}