.screen-three {
    background: radial-gradient(63.4% 63.4% at 59.43% 28.4%, #F20303 0%, #F40E03 100%) !important;
    .title-wrapper-two,
    .moneypot,
    .person,
    .star,
    .text-wrapper-two {
        transform: translateX(-550px);
        transition: .2s;
    }
    .button {
        transform: translateX(300px);
        transition: .2s;
    }
    .disclamer {
        opacity: 1;
        transition: 1.5s;
    }
    .person {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}
