.screen-one .title-wrapper,
.screen-one .title-wrapper-two {
  opacity: 1;
}
.screen-one .title-line-one,
.screen-one .title-line-two,
.screen-one .title-line-three {
  transform: translateX(0);
}
.screen-one .text-wrapper {
  opacity: 1;
}
.screen-one .text-wrapper .text-one,
.screen-one .text-wrapper .text-two,
.screen-one .text-wrapper .text-three {
  opacity: 1;
  transform: translateX(0);
}
.screen-one .text-wrapper-two .text-one,
.screen-one .text-wrapper-two .text-two,
.screen-one .text-wrapper-two .text-three {
  opacity: 1;
  transform: translateX(-550px);
}
.screen-one .person {
  transform: translateX(0);
}
.screen-one .button {
  transform: translateX(0);
}