@font-face {
  font-family: "VTB";
  src: url(./cond-light.woff);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "VTB";
  src: url(./cond-book.woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "VTB";
  src: url(./cond-semi-bold.woff);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "VTB";
  src: url(./cond-bold.woff);
  font-style: normal;
  font-weight: 700;
}