@font-face {
  font-family: "VTB";
  src: url(./cond-light.woff);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "VTB";
  src: url(./cond-book.woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "VTB";
  src: url(./cond-semi-bold.woff);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "VTB";
  src: url(./cond-bold.woff);
  font-style: normal;
  font-weight: 700;
}
* {
  margin: 0;
}

html,
body {
  width: 640px;
  height: 400px;
  overflow: hidden;
}

.banner {
  position: relative;
  cursor: pointer;
  border: 1px solid;
  box-sizing: border-box;
  background: #fff;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.background_first-slide {
  transform: scale(1.1) translateX(-29px);
  transition: 5s linear;
}

.background_second-slide {
  transform: scale(1.2) translateX(-53px);
}

.background_third-slide {
  transform: scale(1.3) translateX(-73px);
}

.background_fourth-slide {
  transform: scale(1.4) translateX(-91px);
}

.logo {
  position: absolute;
  width: 150px;
  top: 0px;
  right: 0px;
  z-index: 100;
}

.plate {
  width: 66%;
  height: 130px;
  position: absolute;
  top: 30px;
  z-index: 1;
  left: -30px;
  transform: translateX(-100%);
  transition: 0.5s ease-out;
}

.percent {
  width: 210px;
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 325px;
  transition: 1s cubic-bezier(0.31, -0.26, 0.52, 1.38);
  transform: scale(0);
}

.percent_modif {
  top: 57px;
  left: 245px;
}

.title {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #fff;
  top: 55px;
  left: 20px;
  z-index: 3;
  margin: 0;
  font-size: 35px;
  width: 300px;
  text-transform: uppercase;
  font-family: "VTB", sans-serif;
  line-height: 1.1;
  transition: 0.4s ease-out;
  opacity: 0;
}

.title__first-stroke {
  font-weight: 400;
}

.title__second-stroke {
  font-weight: 700;
}

.description {
  font-family: "VTB", sans-serif;
  font-weight: 400;
  width: 220px;
  font-size: 30px;
  line-height: 1.1;
  position: absolute;
  font-weight: 300;
  top: 45px;
  left: 20px;
  z-index: 4;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s ease-out;
  opacity: 0;
}

.description-three {
  width: 230px;
  font-size: 19px;
  top: 60px;
}
.description-three span {
  font-weight: 400;
}

.ico {
  position: absolute;
  z-index: 1;
  width: 100px;
  max-height: 100px;
  top: 45px;
  left: 247px;
  transition: 0.5s ease-out;
  opacity: 0;
}

.button {
  font-family: "VTB", sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 6;
  padding: 10px 30px;
  color: #fff;
  background: #00aaff;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
  transform: translateX(200px);
}
.button:hover {
  background: #002882;
  transition: 0.3s;
  cursor: pointer;
}

.disclamer {
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

.disclamer_bolder {
  font-weight: 400;
}

.disclamer__text {
  font-family: "VTB", sans-serif;
  position: absolute;
  width: calc(100% - 40px);
  bottom: 20px;
  left: 20px;
  color: #002882;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  text-align: justify;
  transition: 1s;
  opacity: 0;
  z-index: 6;
}