@-webkit-keyframes title-animation {
  0% {
    transform: translateX(-600px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes title-animation {
  0% {
    transform: translateX(-600px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.title-anim {
  -webkit-animation: title-animation;
          animation: title-animation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.paint-anim {
  -webkit-animation: paint;
          animation: paint;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes paint {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes paint {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes girl {
  100% {
    transform: translateX(0);
  }
}
@keyframes girl {
  100% {
    transform: translateX(0);
  }
}
.girl-anim {
  -webkit-animation: girl;
          animation: girl;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes disclamer {
  100% {
    transform: translateY(0);
  }
}

@keyframes disclamer {
  100% {
    transform: translateY(0);
  }
}
.disclamer-anim {
  -webkit-animation: disclamer;
          animation: disclamer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes transition {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes transition {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.transition-anim {
  -webkit-animation: transition;
          animation: transition;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}/*# sourceMappingURL=animation.css.map */