* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(./Montserrat-Light.woff) format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(./Montserrat-Regular.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(./Montserrat-SemiBold.woff) format("woff");
    font-weight: 600;
}

#colors {
    $yellow: #ffed1a !global;
    $orange: #ffa400 !global;
    $red: #c52734 !global;
    $white: #fff !global;
    $navy: #243045 !global;
}

@mixin font {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.page {
    display: flex;
}

.banner {
    cursor: pointer;
    margin: 0 auto;
    background: #ffa400;
    width: 300px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.banner__text-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.banner__title {
    @include font;
    color: $navy;
    line-height: 1.3;
    font-size: 20px;
    width: calc(100% - 20px);
    text-transform: uppercase;
}

.banner__main-image {
    top: 191px;
    width: 350px;
    position: absolute;
    left: -18px;
}

.banner__target {
    width: 570px;
    top: 0;
    right: calc(50% - (570px / 2));
    position: absolute;
    z-index: 0;
}
.banner__star-text {
    @include font;
    color: $white;
    position: absolute;
    z-index: 5;
    bottom: 94px;
    line-height: 1.1;
    left: 10px;
    font-size: 10px;
    max-width: calc(100% - 20px);
}

.banner__disclamer {
    @include font;
    color: $white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    font-size: 15px;
    text-align: justify;
    line-height: 1;
    text-transform: uppercase;
}
