@import "./animation.scss";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(./Montserrat-Light.woff) format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(./Montserrat-Regular.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(./Montserrat-SemiBold.woff) format("woff");
    font-weight: 600;
}

#colors {
    $yellow: #ffed1a !global;
    $orange: #ffa400 !global;
    $red: #c52734 !global;
    $white: #fff !global;
}

@mixin font {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.page {
    display: flex;
}

.banner {
    margin: 0 auto;
    background: #ffa400;
    width: 300px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.banner__text-wrapper {
    position: absolute;
    width: calc(100% - 30px);
    top: 10px;
    left: 10px;
}

.banner__title {
    @include font;
    color: $white;
    line-height: 1.4;
    font-size: 17px;
    text-transform: uppercase;
}

.banner__title_first-line {
    animation-delay: 0.2s;
}

.banner__title_second-line {
    animation-delay: 0.5s;
    color: $yellow;
}

.banner__main-image {
    top: 27px;
    max-width: 325px;
    position: absolute;
    animation-delay: 0.8s;
    left: -15px;
}

.banner__paint-one {
    position: absolute;
    max-width: 200px;
    top: 340px;
    right: 51px;
    transform: scale(0);
    opacity: 0;
    z-index: 2;
}

.banner__target {
    width: 350px;
    height: 350px;
    top: 230px;
    right: -30px;
    position: absolute;
    z-index: 1;
}

.banner__girl {
    max-width: 180%;
    position: absolute;
    top: 270px;
    right: 9px;
    z-index: 5;
    filter: drop-shadow(17px 15px 2px rgba(0, 0, 0, 0.25));
    transform: translateX(100%);
    animation-delay: 0.5s;
}

.banner__star-text {
    @include font;
    color: $white;
    position: absolute;
    z-index: 5;
    bottom: 42px;
    line-height: 1.3;
    left: 10px;
    font-size: 8px;
    max-width: calc(100% - 20px);
    transform: translateY(500px);
    animation-delay: 1s;
}

.banner__disclamer {
    animation-delay: 1.1s;
    transform: translateY(150%);
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
}

.transition {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 10;
    opacity: 0;
}
