.screen-one {
    .jackpot {
        opacity: 1;
        transition: 1.5s;
    }

    .title-line-one,
    .title-line-two,
    .title-line-three {
        transform: translateX(0);
    }

    .fly {
        transform: translateY(-20px);
        transition: 7s;
    }
}