.screen-one {
    .title-wrapper,
    .title-wrapper-two {
        opacity: 1;
    }

    .title-line-one,
    .title-line-two {
        transform: translateX(0);
    }

    .text-wrapper {
        opacity: 1;
        .text-one,
        .text-two,
        .text-three,
        .text-four,
        .text-five,
        .text-six {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .gift{
        opacity: 1;
        transform: translateX(0);
    }

    .text-wrapper-two {
        .text-one,
        .text-two,
        .text-three {
            opacity: 1;
            transform: translateX(650px);
        }
    }

    .person {
        transform: translateY(0);
    }

    .button {
        transform: translateX(0);
    }
}
