@-webkit-keyframes moneyFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moneyFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes autoFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes autoFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
@keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
.money-fly {
  -webkit-animation: moneyFly infinite 3s ease;
          animation: moneyFly infinite 3s ease;
}

.auto-fly {
  -webkit-animation: autoFly infinite 3s ease;
          animation: autoFly infinite 3s ease;
}

.button-glow {
  -webkit-animation: buttonShadow infinite 2s ease-in-out;
          animation: buttonShadow infinite 2s ease-in-out;
}