* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "NurofenDisplayNormal";
    src: url(./NurofenDisplayNormal_Lt.woff) format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "NurofenDisplayPain";
    src: url(./NurofenDisplayPain_Lt.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "NurofenText";
    src: url(./NurofenText_Lt.woff) format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "NurofenText";
    src: url(./NurofenText_Rg.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "NurofenText";
    src: url(./NurofenText_Bd.woff) format("woff");
    font-weight: 700;
}

@mixin font {
    font-family: "NurofenText", sans-serif;
    margin: 0;
}

#colors {
    $yellow: #ffed1a !global;
    $orange: #ffa400 !global;
    $red: #c52734 !global;
    $white: #fff !global;
    $navy: #243045 !global;
}

.page {
    display: flex;
}

.banner {
    cursor: pointer;
    margin: 0 auto;
    background: #ffa400;
    width: 300px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.banner__text-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    max-width: calc(100% - 20px);
}

.banner__title {
    @include font;
    color: $navy;
    line-height: 1.3;
    font-size: 12px;
    font-weight: 700;

    text-transform: uppercase;
}

.banner__main-image {
    top: 11px;
    width: 170px;
    position: absolute;
    left: calc(50% - (170px /2));
}

.banner__target {
    width: 310px;
    top: 77px;
    right: calc(50% - (310px / 2));
    position: absolute;
    z-index: 0;
}

.alert {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.disclamer-main {
    position: absolute;
    bottom: 45px;
    left: 5px;
}