@font-face {
  font-family: "DIN2014";
  src: url(./DIN2014-Regular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "DIN2014";
  src: url(./DIN2014-Bold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "DIN2014";
  src: url(./DIN2014-ExtraBold.woff) format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "DINPRO";
  src: url(./DINPro.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "DINPRO";
  src: url(./DINPro-Bold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "DINPRO";
  src: url(./DINPro-Black.woff) format("woff");
  font-weight: 900;
}
@-webkit-keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.scale-anim {
  -webkit-animation: scale;
          animation: scale;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
.flare-anim {
  -webkit-animation: flareAnimation 2s;
          animation: flareAnimation 2s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes transition {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes transition {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.anim {
  -webkit-animation: transition;
          animation: transition;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes left-ill {
  100% {
    opacity: 0.33;
  }
}

@keyframes left-ill {
  100% {
    opacity: 0.33;
  }
}
@-webkit-keyframes right-ill {
  100% {
    opacity: 0.33;
  }
}
@keyframes right-ill {
  100% {
    opacity: 0.33;
  }
}
.ill-anim-left {
  -webkit-animation: left-ill;
          animation: left-ill;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.ill-anim-right {
  -webkit-animation: right-ill;
          animation: right-ill;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  width: 298px;
  height: 248px;
  overflow: hidden;
}

html,
body {
  width: 300px;
  height: 250px;
}

.banner {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  border: 1px solid #000;
}

.active {
  visibility: visible !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}

.first-slide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 298px;
  height: 248px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: #3b6085;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  font-family: "DIN2014", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}

.alert {
  width: 160px;
  top: 50px;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alert__img {
  width: 80px;
  margin-bottom: 5px;
}

.alert__descr {
  font-weight: 900;
  font-size: 15px;
  font-family: "DINPRO", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  position: relative;
  overflow-x: hidden;
}
.alert__descr .region {
  color: #c51f28;
}
.alert__descr .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(20deg);
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
}

.footer {
  background-color: #c20000;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__alert {
  transform: translateY(1px);
}

.second-slide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-image: url(./bg-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 298px;
  height: 248px;
  position: absolute;
  overflow: hidden;
}

.spray {
  mix-blend-mode: screen;
  width: 200px;
  visibility: hidden;
}

.spray_left {
  top: 66px;
  width: 150px;
  left: -65px;
  transform: rotate(180deg);
}

.spray_right {
  top: 70px;
  right: -60px;
  width: 150px;
}

.img {
  position: absolute;
}

.img_left {
  top: 98px;
  left: 10px;
  width: 70px;
}

.img_right {
  top: 90px;
  right: 13px;
  width: 80px;
}

.third-slide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-image: url(./bg-three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 298px;
  height: 248px;
  position: absolute;
}

.hours {
  width: 80px;
  bottom: 90px;
  right: 6px;
}

.freeze {
  left: 7px;
  bottom: 81px;
  width: 80px;
}

.sparkle {
  display: flex;
  width: 300px;
  height: 128px;
  left: -150px;
  bottom: 77px;
  mix-blend-mode: screen;
  overflow: hidden;
  align-content: center;
  align-items: center;
}

.transition {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}