@font-face {
  font-family: "DaimlerCSPro";
  src: url(./DaimlerCSPro-Light.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "DaimlerCSPro";
  src: url(./DaimlerCSPro-Regular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "DaimlerCSPro";
  src: url(./DaimlerCSPro-Demi.woff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "DaimlerCACPro";
  src: url(./DaimlerCACPro-Regular.woff) format("woff");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
}

.deactive {
  display: none;
}

.page {
  margin: 0 auto;
  max-width: 100%;
  min-width: 720px;
}

.banner__wrapper {
  cursor: pointer;
  max-width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.banner__filter {
  top: -500px;
  left: -500px;
  background-color: #000;
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.8;
}

@-webkit-keyframes corner-filter {
  0% {
    top: -500px;
    left: -500px;
  }
  50% {
    top: -500px;
    left: -500px;
  }
  100% {
    top: -290px;
    left: -260px;
  }
}

@keyframes corner-filter {
  0% {
    top: -500px;
    left: -500px;
  }
  50% {
    top: -500px;
    left: -500px;
  }
  100% {
    top: -290px;
    left: -260px;
  }
}
.corner-anim {
  -webkit-animation: corner-filter;
          animation: corner-filter;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.banner__first-slide-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center calc(50% - 15px);
     object-position: center calc(50% - 15px);
}

.banner__first-slide {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes first-bg-anim {
  100% {
    transform: scale(1.4);
  }
}

@keyframes first-bg-anim {
  100% {
    transform: scale(1.4);
  }
}
@-webkit-keyframes first-bg-anim-950 {
  100% {
    transform: scale(1.8);
  }
}
@keyframes first-bg-anim-950 {
  100% {
    transform: scale(1.8);
  }
}
.first-bg-anim {
  -webkit-animation: first-bg-anim;
          animation: first-bg-anim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 950px) {
  .first-bg-anim {
    -webkit-animation: first-bg-anim-950;
            animation: first-bg-anim-950;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@-webkit-keyframes text-appear {
  0% {
    opacity: 0;
    margin-left: 500px;
  }
  20% {
    opacity: 1;
    margin-left: 0;
  }
  60% {
    opacity: 1;
    margin-left: 0;
  }
  100% {
    opacity: 1;
    margin-left: -500px;
  }
}

@keyframes text-appear {
  0% {
    opacity: 0;
    margin-left: 500px;
  }
  20% {
    opacity: 1;
    margin-left: 0;
  }
  60% {
    opacity: 1;
    margin-left: 0;
  }
  100% {
    opacity: 1;
    margin-left: -500px;
  }
}
.text-anim {
  -webkit-animation: text-appear;
          animation: text-appear;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.6, 1, 0.4, 1.1);
          animation-timing-function: cubic-bezier(0.6, 1, 0.4, 1.1);
}

.banner__title-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 50;
}

.banner__title {
  color: #fff;
  font-size: 25px;
  font-family: "DaimlerCACPro";
  line-height: 120%;
  opacity: 0;
  text-transform: uppercase;
}

.banner__title-one {
  -webkit-animation-delay: 0 !important;
          animation-delay: 0 !important;
}

.banner__title-two {
  -webkit-animation-delay: 0.5s !important;
          animation-delay: 0.5s !important;
}

.banner__title-three {
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
}

.banner__title-four {
  -webkit-animation-delay: 1.5s !important;
          animation-delay: 1.5s !important;
}

.transition {
  opacity: 0;
  background-color: #000;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes transition-anim {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes transition-anim {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.transition-anim {
  -webkit-animation: transition-anim;
          animation: transition-anim;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.banner__second-slide-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1299px) {
  .banner__second-slide-bg {
    right: 0;
    left: unset;
  }
}

.banner__second-slide-bg_modif {
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: second-slide_anim;
          animation: second-slide_anim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes second-slide_anim {
  100% {
    left: unset;
    -webkit-object-position: bottom;
    object-position: bottom;
  }
}

@keyframes second-slide_anim {
  100% {
    left: unset;
    -webkit-object-position: bottom;
    -o-object-position: bottom;
       object-position: bottom;
  }
}
.text-anim-last {
  -webkit-animation: text-appear-last;
          animation: text-appear-last;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.6, 1, 0.4, 1.1);
          animation-timing-function: cubic-bezier(0.6, 1, 0.4, 1.1);
}

@-webkit-keyframes text-appear-last {
  0% {
    opacity: 0;
    margin-left: 500px;
  }
  20% {
    opacity: 1;
    margin-left: 0;
  }
  80% {
    opacity: 1;
    margin-left: 0;
  }
  100% {
    opacity: 1;
    margin-left: -250px;
  }
}

@keyframes text-appear-last {
  0% {
    opacity: 0;
    margin-left: 500px;
  }
  20% {
    opacity: 1;
    margin-left: 0;
  }
  80% {
    opacity: 1;
    margin-left: 0;
  }
  100% {
    opacity: 1;
    margin-left: -250px;
  }
}
.banner__button {
  font-size: 16pt;
  font-family: "DaimlerCSPro";
  color: #fff;
  border: 1px solid #fff;
  background-color: #000;
  position: absolute;
  padding: 10px 30px;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  -webkit-animation-delay: 2s !important;
          animation-delay: 2s !important;
  align-items: center;
  justify-content: center;
  display: flex;
}
.banner__button:focus {
  border: 1px solid #fff;
}

.banner__last-slide-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 2500px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1459px) {
  .banner__last-slide-bg {
    right: -200px;
    left: unset;
  }
}
@media screen and (max-width: 1299px) {
  .banner__last-slide-bg {
    right: -300px;
    left: unset;
  }
}
@media screen and (max-width: 1149px) {
  .banner__last-slide-bg {
    right: -400px;
    left: unset;
  }
}
@media screen and (max-width: 1049px) {
  .banner__last-slide-bg {
    right: -500px;
    left: unset;
  }
}
@media screen and (max-width: 949px) {
  .banner__last-slide-bg {
    right: -600px;
    left: unset;
  }
}
@media screen and (max-width: 849px) {
  .banner__last-slide-bg {
    right: -700px;
    left: unset;
  }
}

.side__block {
  position: absolute;
  width: 100px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 30px;
  box-sizing: border-box;
}

.side__top-logo {
  transform: rotate(270deg);
}

.side__bottom-logo {
  margin-top: 20px;
  width: 40px;
}

.side__text-wrapper {
  height: 120px;
  display: flex;
  align-items: center;
}

.side__text {
  color: #fff;
  font-family: "DaimlerCACPro";
  transform: rotate(180deg);
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  line-height: 18px;
  font-size: 15px;
  width: 100%;
}