@mixin buttonFont {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html,
.banner {
    width: 1080px;
    height: 607px;
    overflow: hidden;
}

.banner {
    display: flex;
}

.content-wrapper {
    background: linear-gradient(0deg, #263238, #263238), radial-gradient(148.16% 123.15% at 48.94% -21.25%, #3b779f 0%, #141a2c 100%);
    width: 427px;
    position: relative;
}

.logo {
    position: absolute;
    width: 162px;
    top: 30px;
    right: 132px;
}

.image-wrapper {
    position: relative;
    width: calc(100% - 427px);
    height: 100%;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 1s;
}

.image-one {
    opacity: 1;
}
.image-two {
    opacity: 0;
}
.image-three {
    opacity: 0;
}

.title {
    position: absolute;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 66px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    top: 208px;
    right: 0;
    transition: 1s;
}

.title-one {
    opacity: 1;
}

.title-two {
    top: 226px;
    opacity: 0;
}

.title-three {
    opacity: 0;
}

.description {
    position: absolute;
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    color: #ebca7f;
    width: 100%;
    bottom: 198px;
    right: 0;
    transition: 1s;

    span {
        font-weight: 900;
    }
}

.description-one {
    opacity: 1;
}
.description-two {
    bottom: 215px;
    line-height: 40px;
    font-size: 34px;
    opacity: 0;
}
.description-three {
    line-height: 40px;
    font-size: 34px;
    opacity: 0;
}

.button {
    @include buttonFont;
    position: absolute;
    bottom: 43px;
    right: 55px;
    width: 316px;
    height: 62px;
    background: #c5a357;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    transition: 0.3s;

    &:hover {
        background: #bda164;
    }
}
