@font-face {
  font-family: "NurofenText";
  src: url("NurofenText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NurofenText";
  src: url("NurofenText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NurofenText";
  src: url("NurofenText-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
  pointer-events: none;
}

HTML,
BODY {
  width: 240px;
  height: 400px;
  overflow: hidden;
  font-family: NurofenText, sans-serif;
  color: #fff;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #56c2c6;
  cursor: pointer;
  padding: 5% 5%;
}

.wrapper {
  position: relative;
  height: 100%;
}

.frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.attention {
  height: 50px;
  line-height: 62px;
  border-radius: 25px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  background: #e4052d;
  opacity: 0;
  display: none;
}

.default .attention {
  display: block;
}

.anim1 .attention {
  -webkit-animation: atten_anim 1.5s 0.5s 2 both;
          animation: atten_anim 1.5s 0.5s 2 both;
  transition: opacity 0.5s;
  opacity: 1;
}

.anim2 .attention {
  -webkit-animation: none;
          animation: none;
  opacity: 0;
  transition: opacity 0.25s;
}

@-webkit-keyframes atten_anim {
  0% {
    background: #e4052d;
  }
  40% {
    background: #ffa300;
  }
  100% {
    background: #e4052d;
  }
}

@keyframes atten_anim {
  0% {
    background: #e4052d;
  }
  40% {
    background: #ffa300;
  }
  100% {
    background: #e4052d;
  }
}
.text_wrapper {
  position: absolute;
  left: 0;
  top: 12%;
  width: 100%;
  font-size: 22px;
  line-height: 1;
}

.text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.text1 {
  opacity: 0;
  top: 35px;
}

.banner:not(.default) .text1 {
  top: 20px;
}

.anim1 .text1 {
  opacity: 1;
  transition: opacity 0.25s 0.1s;
}

.text2,
.text3 {
  transform: translateY(-40px);
}

.text3 {
  font-size: 19px;
}

.anim2 .text1 {
  opacity: 0;
  transition: opacity 0.25s;
}

.anim2 .text2 {
  opacity: 1;
  transition: opacity 0.25s 0.25s;
}

.anim5 .text2 {
  opacity: 0;
  transition: opacity 0.25s;
}

.anim5 .text3 {
  opacity: 1;
  transition: opacity 0.25s 0.25s;
}

.yel {
  color: #ffed00;
}

.sym {
  font-size: 50%;
  vertical-align: top;
}

.city_wrajpper {
  display: block;
  position: absolute;
  left: 50%;
  width: 100%;
  padding: 7px 0px 2px;
  top: 0;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  border-radius: 40px;
  background: #e4052d;
  opacity: 0;
}

.default .city_wrajpper {
  display: none;
}

.default__city {
  font-size: 30px;
  padding: 7px 0 0;
}

.anim1 .city_wrajpper {
  -webkit-animation: atten_anim 1.5s 0.5s 2 both;
          animation: atten_anim 1.5s 0.5s 2 both;
  transition: opacity 0.5s;
  opacity: 1;
}

.anim2 .city_wrajpper {
  -webkit-animation: none;
          animation: none;
  opacity: 0;
  transition: opacity 0.25s;
}

.logo_wrapper {
  position: absolute;
  left: 0;
  top: 37%;
  width: 100%;
  margin-bottom: 5%;
  opacity: 0;
}

.anim1 .logo_wrapper {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
}

.anim2 .logo_wrapper {
  left: 12.5%;
  top: 52%;
  width: 75%;
  margin-bottom: 5%;
}

.anim5 .logo_wrapper {
  left: 0;
  top: 30%;
  width: 100%;
}

.anim6 .logo_wrapper {
  opacity: 0;
  transition: opacity 0.5s;
}

.anim2 .shadow_wrapper {
  opacity: 0;
  transition: opacity 0.5s;
}

.anim5 .shadow_wrapper {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
}

.shadow_wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.shadow_wrapper:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 40px 0 white;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
}

.anim1 .shadow_wrapper:before,
.anim5 .shadow_wrapper:before {
  opacity: 1;
}

.logo {
  position: relative;
  width: 100%;
  display: block;
  overflow: visible;
}

.fam {
  position: absolute;
  left: -1%;
  bottom: 4%;
  height: 103%;
  display: none;
  opacity: 0;
}

.default .fam {
  display: block;
}

.anim1 .fam {
  opacity: 1;
  transition: opacity 0.4s 1s;
}

.anim2 .fam {
  opacity: 0;
  transition: opacity 0.25s;
}

.map {
  position: absolute;
  left: -2%;
  bottom: 4%;
  width: 107%;
  display: block;
  opacity: 0;
}

.default .map {
  display: none;
}

.anim1 .map {
  opacity: 1;
  transition: opacity 0.4s 1s;
}

.anim2 .map {
  opacity: 0;
  transition: opacity 0.25s;
}

.fam2 {
  position: absolute;
  left: -2%;
  bottom: 4%;
  height: 110%;
  display: block;
  opacity: 0;
  transition: opacity 0.5s;
}

.anim5 .fam2 {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
}

.pack1 {
  position: absolute;
  left: 3%;
  bottom: 0;
  width: 64%;
  display: block;
  opacity: 0;
  transform: translateX(-200%) rotate(-30deg);
}

.anim2 .pack1 {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s 0.25s, transform 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.27, 1);
}

.anim5 .pack1 {
  opacity: 0;
  transition: opacity 0.5s;
}

.pack2 {
  position: absolute;
  right: -9%;
  bottom: 0;
  width: 38%;
  display: block;
  opacity: 0;
  transform: translateX(200%) rotate(30deg);
}

.anim2 .pack2 {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s 0.25s, transform 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.27, 1);
}

.anim5 .pack2 {
  opacity: 0;
  transition: opacity 0.5s;
}

.list {
  position: absolute;
  left: 0;
  top: 22%;
  width: 100%;
  opacity: 0;
}

.anim2 .list {
  opacity: 1;
  transition: opacity 0.25s 0.25s;
}

.item {
  width: 90%;
  margin: 0 auto 10px auto;
  height: 34px;
  line-height: 40px;
  border-radius: 22px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 14px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0), 0 0 15px 0 rgba(255, 255, 255, 0);
  transform: translateX(200%);
}

.anim2 .item {
  transform: translateX(0);
}

.anim2 .item1 {
  transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.27, 1);
}

.anim2 .item2 {
  transition: transform 0.5s 0.1s cubic-bezier(0.17, 0.67, 0.27, 1);
}

.anim2 .item3 {
  transition: transform 0.5s 0.2s cubic-bezier(0.17, 0.67, 0.27, 1);
}

.item1 {
  background: #e4052d;
}

.anim2 .item1 {
  box-shadow: 0 0 10px 0 white, 0 0 15px 0 white;
}

.anim3 .item1 {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0), 0 0 15px 0 rgba(255, 255, 255, 0);
  transition: box-shadow 0.1s;
}

.item2 {
  background: #ffa400;
  color: #243045;
}

.anim3 .item2 {
  box-shadow: 0 0 10px 0 white, 0 0 15px 0 white;
  transition: box-shadow 0.1s 0.1s;
}

.anim4 .item2 {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0), 0 0 15px 0 rgba(255, 255, 255, 0);
  transition: box-shadow 0.1s;
}

.item3 {
  background: #ffed00;
  color: #243045;
}

.anim4 .item3 {
  background: #ffed00;
  color: #243045;
}

.anim4 .item3 {
  box-shadow: 0 0 10px 0 white, 0 0 15px 0 white;
  transition: box-shadow 0.1s;
}

.anim5 .item {
  transform: translateX(200%);
}

.anim5 .item1 {
  transition: transform 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.27, 1);
}

.anim5 .item2 {
  transition: transform 0.5s 0.35s cubic-bezier(0.17, 0.67, 0.27, 1);
}

.anim5 .item3 {
  transition: transform 0.5s 0.45s cubic-bezier(0.17, 0.67, 0.27, 1);
}

.disc {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleY(1.45);
  transform-origin: center bottom;
  text-align: center;
  font-size: 9.7px;
  line-height: 0.9;
  white-space: nowrap;
}

.anim5 .disc {
  opacity: 0;
  transition: opacity 0.25s;
}

.disc2 {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  text-align: justify;
  font-size: 9px;
  font-weight: 300;
  line-height: 0.8;
  opacity: 0;
}

.anim5 .disc2 {
  opacity: 1;
  transition: opacity 0.25s 0.25s;
}