@import "./fonts.scss";
@import "./animations.scss";
@import "./screen-two.scss";
@import "./screen-three.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.wrapper {
    background: radial-gradient(46.8% 704.61% at 58.87% 76.8%, #ffd049 10.54%, #f30000 79.6%);
    width: 970px;
    height: 250px;
    overflow: hidden;
    transition: 0.4s;
}

.banner {
    width: 970px;
    height: 250px;
    overflow: hidden;
    background-position: 100% 25%;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.logo {
    position: absolute;
    width: 103px;
    height: 108px;
    left: 32px;
    top: 36px;
}

.holiday {
    position: absolute;
    width: 149.34px;
    height: 71px;
    left: 822.93px;
    top: 37px;
}

.title {
    position: absolute;
    width: 396px;
    height: 26px;
    left: 125px;
    top: 43px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #ffffff;

    text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
    transition: 0.2s;
}

.title-two {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    transition: 0.3s;
    transform: translateX(100%) rotate(-0.51deg);
    top: 81px;

    span {
        font-size: 36.75px;
        line-height: 105%;
    }
}

.auto {
    position: absolute;
    top: 66px;
    left: -69px;
    transition: 0.2s;
}

.auto-lights {
    position: absolute;
    top: 250px;
    left: 20px;
    transition: 0.2s;
}

.text-wrapper {
    text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    width: 273px;
    height: 27px;
    left: 184px;
    top: 86px;
    position: absolute;
    z-index: 50;

    .text-one {
        font-size: 23px;
        transition: 0.2s;
    }

    .text-two {
        font-size: 35px;
        transition: 0.3s;
    }

    .text-three {
        font-size: 23px;
        transition: 0.4s;
    }
}

.text-wrapper-two {
    top: 425px;
    transform: translateX(150%);
}

.jackpot {
    position: absolute;
    width: 489px;
    height: 23px;
    left: -88px;
    top: 477px;
    transform: rotate(3.35deg);
    transition: 0.2s;
}

.person {
    position: absolute;
    width: 831.77px;
    height: 828px;
    left: -232px;
    top: 159px;
    transform: translateX(100%);
    transition: 0.2s;
}

.star {
    position: absolute;
    width: 450px;
    height: 432px;
    left: -75px;
    top: 76px;
    mix-blend-mode: overlay;
    transition: 0.2s;
    transform: translateX(150%);
    z-index: 0;
}

.button {
    z-index: 99;
    position: absolute;
    width: 255px;
    height: 58px;
    left: 23px;
    top: 524px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffdd00;
    border: none;
    border-radius: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background: #ffe95b;
        transition: 0.2s;
    }
}

.disclamer {
    position: absolute;
    width: 261px;
    height: 462px;
    left: 15px;
    top: 120px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10.7px;
    line-height: 13px;
    color: #ffffff;
    transform: translateX(150%);
    transition: 0.3s;
}
