.screen-three {
    background: radial-gradient(63.4% 63.4% at 59.43% 28.4%, #F20303 0%, #F40E03 100%) !important;
    .title-two,
    .moneypot,
    .button,
    .person,
    .star,
    .text-wrapper-two {
        transform: translateY(-350px);
    }
    .disclamer {
        transform: translateY(0);
    }
    .person {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}
