.screen-two {
    background: radial-gradient(106% 106% at 61.75% 106%, #ffd049 0%, #f30101 100%) !important;

    .title,
    .auto,
    .jackpot,
    .text-wrapper,
    .auto-lights {
        transform: translateY(-350px);
    }
    .title-two,
    .person,
    .star,
    .text-wrapper-two {
        transform: translateY(0);
    }
}
