.screen-two {
    background: radial-gradient(63.4% 63.4% at 59.43% 28.4%, #FD733D 0%, #FF4F01 100%);

    .title,
    .person,
    .money,
    .auto,
    .jackpot,
    .jackpot-line {
        transform: translateY(350px);
    }
    .title-two,
    .moneypot {
        transform: translateY(0);
    }
}
