.screen-three {
    background: #ffb902;

    .button,
    .person,
    .line-two {
        transition: 0.2s;
        transform: translateY(300px);
    }
    .disclamer {
        opacity: 1;
        transition: 1s;
    }

    .title-two-line-one,
    .title-two-line-two {
        transition: 0.2s;
        transform: translateX(-450px);
    }
    .line,
    .line-two {
        opacity: 0;
    }
}
