.header {
    background: #ffffff;
    box-shadow: 0px 6px 20px rgb(0 0 0 / 10%);
    position: fixed;
    z-index: 999;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
