// TITLES ANIMATION

@keyframes title-animation {
    0% {
        transform: translateX(-600px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.title-anim {
    animation: title-animation;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

// IMAGE ANIMATION

@keyframes image-animation {
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.nurofen-anim {
    animation: image-animation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}