@keyframes title-animation {
    0% {
        transform: translateX(-600px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.title-anim {
    animation: title-animation;
    animation-duration: .5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}