* {
  margin: 0;
  padding: 0;
}

html,
.banner {
  width: 728px;
  height: 90px;
  overflow: hidden;
  cursor: pointer;
}

.banner {
  display: flex;
}

.content-wrapper {
  background: linear-gradient(0deg, #263238, #263238), radial-gradient(148.16% 123.15% at 48.94% -21.25%, #3b779f 0%, #141a2c 100%);
  width: 412px;
  position: relative;
}

.logo {
  position: absolute;
  width: 68px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #263238;
  padding: 27.5px 11px;
}

.image-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 412px);
}

.image {
  position: absolute;
  top: 0;
  left: 90px;
  width: calc(100% - 90px);
  transition: 1s;
}

.image-one {
  opacity: 1;
}

.image-two {
  opacity: 0;
}

.image-three {
  opacity: 0;
}

.title {
  position: absolute;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  width: 260px;
  top: 11px;
  left: 24px;
  transition: 1s;
}

.title-one {
  opacity: 1;
}

.title-two {
  top: -8px;
  width: 140px;
  left: 80px;
  font-size: 48px;
  line-height: 64px;
  opacity: 0;
}

.title-three {
  top: 12px;
  opacity: 0;
}

.description {
  position: absolute;
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ebca7f;
  width: 170px;
  bottom: 18px;
  left: 71px;
  transition: 1s;
}
.description span {
  font-weight: 900;
  font-feature-settings: "pnum" on, "lnum" on;
}

.description-one {
  opacity: 1;
}

.description-two {
  width: 220px;
  bottom: 14px;
  left: 42px;
  font-size: 20px;
  line-height: 26px;
  opacity: 0;
}

.description-three {
  bottom: 18px;
  left: 50px;
  font-size: 20px;
  line-height: 26px;
  width: 210px;
  opacity: 0;
}

.button {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  right: 20px;
  top: calc(50% - 17.5px);
  width: 90px;
  height: 35px;
  background: #c5a357;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  background: #bda164;
}