.about__photo {
    width: 500px;
    max-height: 500px;
    object-fit: cover;

    @media screen and (max-width: 780px) {
        width: 100%;
        object-fit: cover;
        object-position: 0 -60px;
    }

    @media screen and (max-width:500px){
        object-position: unset;
    }
}
