@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@-webkit-keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
@keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
.button-glow {
  -webkit-animation: buttonShadow infinite 2s ease-in-out;
          animation: buttonShadow infinite 2s ease-in-out;
}

.screen-one .jackpot {
  opacity: 1;
  transition: 1.5s;
}
.screen-one .title-wrapper {
  opacity: 1;
}
.screen-one .title-line-one,
.screen-one .title-line-two {
  transform: translateX(0);
}
.screen-one .fly {
  transform: translateY(-20px);
  transition: 7s;
}

.screen-two {
  background: radial-gradient(63.4% 63.4% at 59.43% 28.4%, #fd733d 0%, #ff4f01 100%);
}
.screen-two .person,
.screen-two .money,
.screen-two .auto {
  transition: 0.2s;
  transform: translateY(350px);
}
.screen-two .moneypot {
  transform: translateY(0);
}
.screen-two .title-wrapper {
  opacity: 0;
}
.screen-two .title-line-one,
.screen-two .title-line-two {
  transition: 0.2s;
  transform: translateX(-600px);
}
.screen-two .title-two-line-one,
.screen-two .title-two-line-two {
  transform: translateX(0);
}
.screen-two .jackpot,
.screen-two .jackpot-line {
  transform: translateX(-100%);
}
.screen-two .jackpot {
  opacity: 0;
}

.screen-three .title-two,
.screen-three .moneypot,
.screen-three .button {
  transition: 0.2s;
  transform: translateY(350px);
}
.screen-three .disclamer {
  transition: 1s;
  opacity: 1;
}
.screen-three .title-two-line-one,
.screen-three .title-two-line-two {
  transition: 0.2s;
  transform: translateX(-400px);
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 728px;
  height: 90px;
  overflow: hidden;
}

.banner {
  width: 728px;
  height: 90px;
  overflow: hidden;
  background: radial-gradient(33.61% 505.95% at 59.43% 69.8%, #fd733d 0%, #ff4f01 100%);
  cursor: pointer;
  position: relative;
}

.logo {
  position: absolute;
  height: 80%;
  left: 10px;
  top: 10px;
  z-index: 90;
}

.holiday {
  position: absolute;
  right: 10px;
  top: 20px;
  height: 50px;
}

.title-wrapper {
  position: absolute;
  width: 454px;
  left: 90px;
  top: 14px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
  opacity: 0;
}

.title-line-one {
  transition: 0.8s;
  transform: translateX(-600px);
}

.title-line-two {
  transition: 1s;
  transform: translateX(-600px);
}

.title-wrapper-two {
  position: absolute;
  width: 300px;
  left: 90px;
  top: 15px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  transition: 1s;
  z-index: 5;
}

.title-two-line-one {
  transition: 0.8s;
  transform: translateX(-400px);
}

.title-two-line-two {
  transition: 1s;
  transform: translateX(-400px);
}

.person {
  position: absolute;
  width: 340px;
  left: 342px;
  top: -36px;
  transform: rotate(-0.61deg);
  z-index: 5;
  transition: 0.2s;
}

.money {
  position: absolute;
  width: 210px;
  left: 377px;
  top: -48px;
  z-index: 10;
  transition: 1s;
  transform: translate(0);
}

.auto {
  position: absolute;
  top: 3px;
  left: 513px;
  width: 100px;
  z-index: 11;
  transition: 1s;
  transform: translate(0);
}

.jackpot {
  position: absolute;
  height: 42px;
  left: 195px;
  top: -4px;
  transform: rotate(3deg);
  transition: 1s;
  opacity: 0;
}

.jackpot-line {
  position: absolute;
  z-index: 1;
  width: 569px;
  height: 30px;
  left: -76px;
  bottom: 6px;
  background: linear-gradient(86.63deg, #ffa800 -1.73%, #ffcc00 7.62%, #ffdd00 39.5%, #ffcf00 68.4%, #ffb800 78.61%);
  transform: rotate(-3.22deg);
  transition: 0.2s;
}

.moneypot {
  position: absolute;
  height: 227%;
  right: 87px;
  top: -72px;
  z-index: 1;
  transform: translateY(350px);
  transition: 0.3s;
}

.button {
  position: absolute;
  width: 246px;
  height: 58px;
  right: 20px;
  top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffdd00;
  border: none;
  border-radius: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  transition: 0.2s;
  z-index: 150;
  cursor: pointer;
}
.button:hover {
  background: #ffe95b;
  transition: 0.2s;
}

.disclamer {
  position: absolute;
  width: 510px;
  left: 90px;
  top: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 7.2px;
  line-height: 1;
  color: #ffffff;
  transition: 0.3s;
  opacity: 0;
}