@import "./fonts.scss";

* {
    margin: 0;
}

html,
body {
    width: 240px;
    height: 400px;
    overflow: hidden;
}

.banner {
    position: relative;
    cursor: pointer;
    border: 1px solid;
    box-sizing: border-box;
    background: #fff;
}

.background {
    position: absolute;
    width: 100%;
    height: 65%;
    top: 33px;
    z-index: 1;
    object-fit: cover;
    object-position: -210px 0;
}

.background_second-slide {
    transform: scale(1.15) translateX(-15px);
    transition: 7s linear;
}
.background_third-slide {
    transform: scale(1.25) translateX(-23px);
}
.background_fourth-slide {
    transform: scale(1.35) translateX(-31px);
}

.logo {
    position: absolute;
    width: 100px;
    top: 0px;
    right: 0px;
    z-index: 100;
}

.plate {
    width: 240px;
    position: absolute;
    bottom: 30px;
    z-index: 1;
    left: -20px;
    transform: translateX(-100%);
    transition: 0.5s ease-out;
}

.percent {
    width: 130px;
    position: absolute;
    z-index: 2;
    bottom: 5px;
    right: 65px;
    transition: 1s cubic-bezier(0.31, -0.26, 0.52, 1.38);
    transform: scale(0);
}

.percent_modif {
    bottom: 55px;
    right: 75px;
}

.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    bottom: 43px;
    left: 10px;
    z-index: 3;
    margin: 0;
    font-size: 24px;
    width: 190px;
    text-transform: uppercase;
    font-family: "VTB", sans-serif;
    line-height: 1.1;
    transition: 0.4s ease-out;
    opacity: 0;
}

.title__first-stroke {
    font-weight: 400;
}

.title__second-stroke {
    font-weight: 700;
}

.title_second-slide {
    transform: translateY(-3px);
    font-size: 21px;
}

.description {
    font-family: "VTB", sans-serif;
    font-weight: 400;
    width: 130px;
    font-size: 14px;
    line-height: 1.2;
    position: absolute;
    font-weight: 300;
    bottom: 40px;
    left: 10px;
    z-index: 4;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s ease-out;
    opacity: 0;
}

.description-three {
    width: 150px;
    bottom: 100px;
    font-size: 16px;

    span {
        font-weight: 400;
    }
}

.ico {
    position: absolute;
    z-index: 1;
    width: 50px;
    max-height: 100px;
    bottom: 44px;
    left: 135px;
    transition: 0.5s ease-out;
    opacity: 0;
}

#documents {
    left: 138px;
}

.button {
    font-family: "VTB", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 6;
    padding: 10px 30px;
    color: #fff;
    background: #00aaff;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    transform: translateX(200px);

    &:hover {
        background: #002882;
        transition: 0.3s;
        cursor: pointer;
    }
}

.disclamer {
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    transition: 1s;
}

.disclamer_bolder {
    font-weight: 400;
}

.disclamer__text {
    font-family: "VTB", sans-serif;
    position: absolute;
    width: calc(100% - 20px);
    bottom: 10px;
    left: 10px;
    color: #002882;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 300;
    line-height: 1;
    text-align: justify;
    transition: 1s;
    opacity: 0;
    z-index: 6;
}
