.screen-two {
    background: radial-gradient(28.25% 425.25% at 57.73% 82.8%, #efe94d 0%, #ff8b02 100%);

    .auto,
    .top,
    .line {
        transition: .2s;
        transform: translateY(300px);
    }

    .person {
        transform: translateY(0);
    }

    .line-two {
        transform: translateY(0);
        transition: 1s;
        opacity: 1;
    }

    .title-line-one,
    .title-line-two {
        transition: 0.2s;
        transform: translateX(-400px);
    }

    .title-two-line-one,
    .title-two-line-two {
        transform: translateX(0);
    }
}
