* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NurofenDisplayNormal";
  src: url(./NurofenDisplayNormal_Lt.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "NurofenDisplayPain";
  src: url(./NurofenDisplayPain_Lt.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "NurofenText";
  src: url(./NurofenText_Lt.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "NurofenText";
  src: url(./NurofenText_Rg.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "NurofenText";
  src: url(./NurofenText_Bd.woff) format("woff");
  font-weight: 700;
}
.page {
  display: flex;
}

.banner {
  cursor: pointer;
  margin: 0 auto;
  background: #ffa400;
  width: 160px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.banner__text-wrapper {
  position: absolute;
  width: calc(100% - 20px);
  top: 10px;
  left: 10px;
  z-index: 10;
}

.banner__title {
  font-family: "NurofenText", sans-serif;
  margin: 0;
  color: #243045;
  line-height: 1.2;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.banner__main-image {
  top: 207px;
  width: 208px;
  position: absolute;
  left: -24px;
  z-index: 1;
}

.banner__target {
  width: 530px;
  top: 3px;
  right: calc(50% - 265px);
  position: absolute;
  z-index: 0;
}

.banner__star-text {
  font-family: "NurofenText", sans-serif;
  margin: 0;
  color: #fff;
  position: absolute;
  z-index: 5;
  bottom: 130px;
  line-height: 1;
  left: 10px;
  font-size: 7px;
  max-width: calc(100% - 20px);
  text-align: justify;
  transform-origin: top;
  transform: scaleY(1.75);
}

.banner__disclamer {
  font-family: "NurofenText", sans-serif;
  margin: 0;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  font-size: 10.5px;
  text-align: justify;
  line-height: 1;
  text-transform: uppercase;
}

.alert {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.disclamer-main {
  position: absolute;
  bottom: 83px;
  left: 5px;
}