.screen-two {
    .text-wrapper {
        opacity: 0;
        .text-one,
        .text-two,
        .text-three {
            transition: 0.3s;
            transform: translateX(-500px);
        }
    }

    .text-wrapper-two {
        opacity: 1;
        .text-one,
        .text-two,
        .text-three {
            transform: translateX(0);
        }
    }

    .title-line-one,
    .title-line-two {
        transform: translateX(-600px);
        transition: 0.3s;
    }

    .title-two-line-one,
    .title-two-line-two,
    .title-two-line-three,
    .title-two-line-four {
        transform: translateX(0);
    }

    .gift {
        opacity: 0;
    }

    .flowers,
    .money-box {
        transform: translateX(0);
        opacity: 1;
    }

    .flowers-scale {
        transition: 3s;
        transform: scale(1.1);
    }

    .person {
        transform: translateX(500px);
        transition: 0.3s;
    }
}
