@import "./fonts.scss";
@import "./screen-one.scss";
@import "./screen-two.scss";
@import "./screen-three.scss";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 728px;
    height: 90px;
    overflow: hidden;
    position: relative;
}

.wrapper {
    background: linear-gradient(90deg, #ff7c20 0%, #ff2c4c 27.6%);
    width: inherit;
    height: inherit;
    overflow: inherit;
    position: inherit;
}

.banner {
    width: inherit;
    height: inherit;
    overflow: inherit;
    cursor: pointer;
    position: inherit;
    transition: 0.2s;
}

.logo {
    position: absolute;
    width: 130px;
    left: -18px;
    top: -10px;
    z-index: 100;
}

.holiday {
    position: absolute;
    width: 90px;
    left: 4px;
    top: 51px;
    z-index: 101;
}

.title-wrapper {
    position: absolute;
    width: 230px;
    left: 115px;
    top: 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #fff;
    transition: 0.2s;
    opacity: 0;
}

.title-line-one {
    transition: 1s;
    transform: translateX(-500px);
}

.title-line-two {
    font-size: 24px;
    font-weight: 800;
    transition: 1.2s;
    transform: translateX(-500px);
}

.title-wrapper-two {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #fff;
    width: 280px;
    top: 10px;
    left: 130px;
    transition: 1s;
    opacity: 0;
}

.title-two-line-one {
    transition: 1s;
    transform: translateX(-550px);
}

.title-two-line-two {
    font-weight: 500;
    font-size: 14px;
    transition: 1.2s;
    transform: translateX(-550px);

    span {
        font-size: 16px;
        font-weight: 800;
    }
}

.title-two-line-three {
    font-size: 18px;
    font-weight: 500;
    transition: 1.4s;
    transform: translateX(-550px);
}

.title-two-line-four {
    font-size: 16px;
    font-weight: 500;
    transition: 1.6s;
    transform: translateX(-550px);
}

.bg-flw {
    position: absolute;
    width: 190px;
    right: 330px;
    top: -60px;
    transition: 1s;
    z-index: 1;
    mix-blend-mode: screen;
    transform: rotate(140deg);
}

.bg-flw-two {
    position: absolute;
    width: 220px;
    right: 80px;
    top: -70px;
    transition: 1s;
    mix-blend-mode: screen;
    transform: rotate(127deg);
    z-index: 2;
}

.text-wrapper {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    height: 55px;
    display: flex;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: #ff2c4b;
    width: 187px;
    right: 0;
    top: 15px;
    background: linear-gradient(90deg, #ffffff 53.65%, #ffc4cd 100%);
    position: absolute;
    z-index: 51;
    opacity: 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 50px 0 0 50px;
    opacity: 0;
    transition: 1s;

    .text-one {
        transition: 1.4s;
        transform: translateX(500px);
    }

    .text-two {
        transition: 1.6s;
        transform: translateX(500px);
    }

    .text-three {
        transition: 1.8s;
        transform: translateX(500px);
    }
}

.text-wrapper-two {
    position: absolute;
    width: 165px;
    bottom: 120px;
    right: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    color: #e00000;
    z-index: 51;
    opacity: 0;
    font-size: 18px;

    .text-one {
        transition: 1.4s;
        transform: translateX(-450px);
    }

    .text-two {
        transition: 1.6s;
        transform: translateX(-450px);
    }

    .text-three {
        transition: 1.8s;
        transform: translateX(-450px);
    }
}

.money-box {
    position: absolute;
    width: 170px;
    right: 0;
    top: 11px;
    transition: 1s;
    opacity: 0;
    z-index: 102;
    transform: translateX(250px);
}

.person {
    position: absolute;
    width: 130px;
    right: 282px;
    bottom: -74px;
    transform: translateX(500px);
    transition: 1s;
    z-index: 50;
}

.flowers {
    position: absolute;
    width: 190px;
    right: 190px;
    bottom: -3px;
    transition: 0.2s;
    z-index: 2;
    opacity: 0;
}

.gift {
    position: absolute;
    width: 80px;
    right: 195px;
    bottom: 7px;
    transition: 1.2s;
    z-index: 3;
    opacity: 0;
    transform: translateX(200px);
}

.button {
    z-index: 99;
    position: absolute;
    width: 260px;
    height: 58px;
    left: 20px;
    bottom: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    background: #ffde00;
    border: none;
    border-radius: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #ff2c4c;
    transition: 1s;
    transform: translateX(-500px);
    cursor: pointer;

    &:hover {
        background: #ffed77;
        transition: 0.2s;
    }
}

.disclamer {
    position: absolute;
    width: 620px;
    left: 100px;
    top: 10px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 7.3px;
    line-height: 1;
    color: #fff;
    transition: 0.2s;
    opacity: 0;
}

@keyframes buttonShadow {
    0% {
        box-shadow: 0px 0px 40px #fff;
    }
    50% {
        box-shadow: 0px 0px 40px 10px #fff;
    }
    100% {
        box-shadow: 0px 0px 40px #fff;
    }
}

.button-glow {
    animation: buttonShadow infinite 2s ease-in-out;
}
