.screen-three {
    background: #ffb902;

    .button {
        transition: 0.2s;
        transform: translateX(300px);
    }
    .disclamer {
        opacity: 1;
        transition: 1s;
    }

    .person {
        transition: .2s;
        opacity: 0;
    }

    .line-two {
        transition: .2s;
        opacity: 0;
    }

    .title-two-line-one,
    .title-two-line-two,
    .title-two-line-three {
        transition: 0.2s;
        transform: translateX(-300px);
    }

    .line-two {
        transition: .2s;
        opacity: 0;
    }
}
