.screen-three {
  background: linear-gradient(0deg, #f50202, #f50202) !important;
}
.screen-three .title-two,
.screen-three .moneypot,
.screen-three .button,
.screen-three .person,
.screen-three .star,
.screen-three .text-wrapper-two {
  transition: 0.2s;
  transform: translateX(-150%);
}
.screen-three .title-two-line-one,
.screen-three .title-two-line-two {
  transition: 0.2s;
  transform: translateX(-400px);
}
.screen-three .disclamer {
  transition: 1.5s;
  opacity: 1;
}
.screen-three .text-wrapper-two .text-one,
.screen-three .text-wrapper-two .text-two,
.screen-three .text-wrapper-two .text-three {
  transition: 0.2s;
  opacity: 1;
  transform: translateX(-400px);
}