@import "./fonts.scss";

* {
    margin: 0;
}

html,
body {
    width: 300px;
    height: 600px;
    overflow: hidden;
}

.banner {
    position: relative;
    cursor: pointer;
    border: 1px solid;
    box-sizing: border-box;
    background: #fff;
}

.background {
    position: absolute;
    width: 100%;
    height: 55%;
    top: 93px;
    z-index: 1;
    object-fit: cover;
    object-position: -270px 0;
}

.background_first-slide {
    transform: scale(1.1) translateX(-13px);
    transition: 5s linear;
}

.background_second-slide {
    transform: scale(1.2) translateX(-25px);
}
.background_third-slide {
    transform: scale(1.3) translateX(-34px);
}
.background_fourth-slide {
    transform: scale(1.4) translateX(-42px);
}

.logo {
    position: absolute;
    width: 150px;
    top: 0px;
    right: 0px;
    z-index: 100;
}

.plate {
    width: 300px;
    position: absolute;
    bottom: 50px;
    z-index: 1;
    left: -20px;
    transform: translateX(-100%);
    transition: 0.5s ease-out;
}

.percent {
    width: 180px;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right: 65px;
    transition: 1s cubic-bezier(0.31, -0.26, 0.52, 1.38);
    transform: scale(0);
}

.percent_modif {
    bottom: 80px;
    right: 70px;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}

.scale-anim {
    animation: scale;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    bottom: 65px;
    left: 20px;
    z-index: 3;
    margin: 0;
    font-size: 30px;
    width: 240px;
    text-transform: uppercase;
    font-family: "VTB", sans-serif;
    line-height: 1.1;
    transition: 0.4s ease-out;
    opacity: 0;
}

.title__first-stroke {
    font-weight: 400;
}

.title__second-stroke {
    font-weight: 700;
}

.title_second-slide {
    transform: translateY(-5px);
    font-size: 26px;
}

.description {
    font-family: "VTB", sans-serif;
    font-weight: 400;
    width: 170px;
    font-size: 16px;
    line-height: 1.2;
    position: absolute;
    font-weight: 300;
    bottom: 60px;
    left: 20px;
    z-index: 4;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s ease-out;
    opacity: 0;
}

.description-three {
    width: 240px;
    bottom: 150px;
    font-size: 17px;

    span {
        font-weight: 400;
    }
}

.ico {
    position: absolute;
    z-index: 1;
    width: 50px;
    max-height: 100px;
    bottom: 60px;
    left: 210px;
    transition: 0.5s ease-out;
    opacity: 0;
}

#documents {
    left: 192px;
}

.button {
    font-family: "VTB", sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    right: calc(50% - 178px/2);
    z-index: 6;
    padding: 10px 30px;
    color: #fff;
    background: #00aaff;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    transform: translateX(250px);

    &:hover {
        background: #002882;
        transition: 0.3s;
        cursor: pointer;
    }
}

.disclamer {
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}

.disclamer_bolder {
    font-weight: 400;
}

.disclamer__text {
    font-family: "VTB", sans-serif;
    position: absolute;
    width: calc(100% - 40px);
    bottom: 20px;
    left: 20px;
    color: #002882;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.03;
    text-align: justify;
    transition: 1s;
    opacity: 0;
    z-index: 11;
}
