.screen-three .bg2 {
  opacity: 0;
}
.screen-three .bg3 {
  opacity: 1;
}
.screen-three .title-two-line-one,
.screen-three .title-two-line-two {
  transform: translateX(-550px);
  transition: 0.3s;
}
.screen-three .button {
  transform: translateX(500px);
  transition: 0.3s;
}
.screen-three .disclamer {
  opacity: 1;
  transition: 1.5s;
}
.screen-three .text-wrapper-two {
  opacity: 0;
}
.screen-three .text-wrapper-two .text-one,
.screen-three .text-wrapper-two .text-two,
.screen-three .text-wrapper-two .text-three {
  transform: translateX(350px);
  transition: 0.3s;
}
.screen-three .person {
  transform: translateX(-500px);
  transition: 0.3s;
}