@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@-webkit-keyframes moneyFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moneyFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes autoFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes autoFly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
@keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
.money-fly {
  -webkit-animation: moneyFly infinite 3s ease;
          animation: moneyFly infinite 3s ease;
}

.auto-fly {
  -webkit-animation: autoFly infinite 3s ease;
          animation: autoFly infinite 3s ease;
}

.button-glow {
  -webkit-animation: buttonShadow infinite 2s ease-in-out;
          animation: buttonShadow infinite 2s ease-in-out;
}

.screen-two .title,
.screen-two .person,
.screen-two .money,
.screen-two .auto,
.screen-two .jackpot {
  transform: translateX(-300px);
}
.screen-two .title-two,
.screen-two .moneypot {
  transform: translateX(0);
}

.screen-three .title-two,
.screen-three .moneypot,
.screen-three .button {
  transform: translateX(-300px);
}
.screen-three .disclamer {
  transform: translateX(0);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  width: 300px;
  height: 250px;
  position: relative;
}

.wrapper {
  width: inherit;
  height: inherit;
  overflow: inherit;
  position: relative;
  background: radial-gradient(62.6% 40.34% at 53% 47.99%, #ffb74b 0.39%, #ff5c00 73.96%, #ff4d00 100%);
}

.banner {
  width: inherit;
  height: inherit;
  overflow: inherit;
  cursor: pointer;
  position: inherit;
}

.logo {
  position: absolute;
  width: 40px;
  left: 5px;
  top: 5px;
}

.holiday {
  position: absolute;
  height: 40px;
  right: 5px;
  top: 5px;
}

.title {
  position: absolute;
  width: 286px;
  left: 0px;
  top: 54px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  width: 100%;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  transition: 0.2s;
}

.title-two {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  top: 60px;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transform: translateX(300px);
  transition: 0.3s;
}

.person {
  position: absolute;
  width: 360px;
  right: calc(50% - 180px);
  top: 30px;
  z-index: 1;
  transition: 0.2s;
}

.money {
  position: absolute;
  width: 206px;
  left: 10px;
  top: 25px;
  z-index: 10;
  transition: 0.2s;
}

.auto {
  position: absolute;
  top: 66px;
  width: 123px;
  right: 32px;
  transition: 0.2s;
  z-index: 4;
}

.jackpot {
  position: absolute;
  width: 164px;
  left: 66px;
  top: 172px;
  z-index: 2;
  transform: rotate(-6deg);
  z-index: 2;
  transition: 0.2s;
}

.moneypot {
  position: absolute;
  width: 200px;
  left: 48px;
  top: 84px;
  transform: translateX(300px);
  transition: 0.3s;
}

.button {
  position: absolute;
  width: 140px;
  height: 25px;
  left: calc(50% - 70px);
  top: 215px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffdd00;
  border: none;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  transition: 0.2s;
  cursor: pointer;
}

.disclamer {
  position: absolute;
  width: 290px;
  left: 5px;
  top: 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8.53px;
  line-height: 1;
  color: #ffffff;
  transform: translateX(300px);
  transition: 0.3s;
}