@import "./fonts.scss";

* {
    margin: 0;
}

html,
body {
    width: 640px;
    height: 400px;
    overflow: hidden;
}

.banner {
    background: url(./bg.jpg) no-repeat;
    background-position: right;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.logo {
    position: absolute;
    width: 150px;
    top: 0px;
    right: 0px;
    z-index: 100;
}

.plate {
    width: 60%;
    position: absolute;
    top: 30px;
    z-index: 1;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s ease-out;
}

.percent {
    width: 30%;
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 120px;
    transition: 0.5s ease-out;
    transform: scale(0);
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}

.scale-anim {
    animation: scale;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    top: 40px;
    left: 20px;
    z-index: 3;
    margin: 0;
    font-size: 22px;
    text-transform: uppercase;
    font-family: "VTB", sans-serif;
    line-height: 1.1;
    transition: 0.4s ease-out;
    opacity: 0;
}

.title__first-stroke {
    font-weight: 400;
}

.title__second-stroke {
    font-weight: 700;
}

.description {
    font-family: "VTB", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    position: absolute;
    font-weight: 300;
    top: 98px;
    left: 20px;
    z-index: 4;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s ease-out;
    opacity: 0;
}

.description__optional {
    left: 160px;
}

.slash {
    opacity: 0;
    position: absolute;
    height: 45px;
    width: 3px;
    background: #00aaff;
    top: 99px;
    left: 138px;
    z-index: 5;
    transform: rotate(15deg) skew(0deg, -15deg);
    transition: 0.5s ease-out;
}

.tel {
    position: absolute;
    bottom: 90px;
    left: 10px;
    width: 200px;
    z-index: 6;
    transition: 0.3s;
    transform: translateX(-220px);
}

.button {
    font-family: "VTB", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: absolute;
    bottom: 90px;
    right: 20px;
    z-index: 6;
    padding: 10px 30px;
    color: #fff;
    background: #00aaff;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    transform: translateX(160px);

    &:hover {
        background: #002882;
        transition: 0.3s;
        cursor: pointer;
    }
}

.disclamer {
    background: url(./disclamer-bg.png);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.disclamer__text {
    font-family: "VTB", sans-serif;
    position: absolute;
    width: calc(100% - 20px);
    bottom: 10px;
    left: 10px;
    color: #002882;
    font-size: 8px;
    line-height: 0.9;
    text-align: justify;
    transition: 1s;
    transform: translateY(150px);
}
