.screen-three {
    background: linear-gradient(0deg, #f50202, #f50202) !important;
    .title-two,
    .moneypot,
    .button,
    .person,
    .star,
    .text-wrapper-two {
        transition: .2s;
        transform: translateX(-150%);
    }
    .title-two-line-one,
    .title-two-line-two {
        transition: .2s;
        transform: translateX(-400px);
    }
    .disclamer {
        transition: 1.5s;
        opacity: 1;
    }

    .text-wrapper-two {
        .text-one,
        .text-two,
        .text-three {
            transition: .2s;
            opacity: 1;
            transform: translateX(-400px);
        }
    }
}
