.screen-three {
  background: #ffb902;
}
.screen-three .button {
  transition: 0.2s;
  transform: translateX(-300px);
}
.screen-three .disclamer {
  opacity: 1;
  transition: 1s;
}
.screen-three .person {
  transition: 0.2s;
  opacity: 0;
}
.screen-three .line-two {
  transition: 0.2s;
  opacity: 0;
}
.screen-three .title-two-line-one,
.screen-three .title-two-line-two {
  transition: 0.2s;
  transform: translateX(-300px);
}
.screen-three .line-two {
  transition: 0.2s;
  opacity: 0;
}