@import "./fonts.scss";

* {
    margin: 0;
}

html,
body {
    width: 728px;
    height: 90px;
    overflow: hidden;
}

.banner {
    position: relative;
    cursor: pointer;
    border: 1px solid;
    box-sizing: border-box;
    background: #f4f2f3;
}

.background {
    position: absolute;
    right: 74px;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: 0px -50px;
}

.background_first-slide {
    transform: scale(1.1) translateX(-14px);
    transition: 5s linear;
}
.background_second-slide {
    transform: scale(1.2) translateX(-24px);
}
.background_third-slide {
    transform: scale(1.3) translateX(-34px);
}
.background_fourth-slide {
    transition: 0.2s;
    opacity: 0;
}

.logo {
    position: absolute;
    width: 90px;
    top: -5px;
    right: -5px;
    z-index: 100;
}

.plate {
    width: 420px;
    height: calc(100% - 20px);
    position: absolute;
    top: 10px;
    z-index: 1;
    left: -20px;
    transform: translateX(-100%);
    transition: 0.5s ease-out;
}

.percent {
    width: 140px;
    position: absolute;
    z-index: 2;
    top: 19px;
    left: 281px;
    transition: 1s cubic-bezier(0.31, -0.26, 0.52, 1.38);
    transform: scale(0);
}

.percent_modif {
    top: 18px;
    left: 340px;
    width: 160px;
}

.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    top: 30px;
    left: 10px;
    z-index: 3;
    margin: 0;
    font-size: 26px;
    width: 348px;
    text-transform: uppercase;
    font-family: "VTB", sans-serif;
    line-height: 1.1;
    transition: 0.4s ease-out;
    opacity: 0;
}

.title__first-stroke {
    font-weight: 400;
}

.title__second-stroke {
    font-weight: 700;
}

// .title_second-slide {
//     transform: translateY(-5px);
//     font-size: 26px;
// }

.description {
    font-family: "VTB", sans-serif;
    font-weight: 400;
    width: 240px;
    font-size: 20px;
    line-height: 1;
    position: absolute;
    font-weight: 300;
    top: 14px;
    left: 10px;
    z-index: 4;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s ease-out;
    opacity: 0;
}

.description-three {
    width: 330px;
    top: 24px;
    font-size: 22px;

    span {
        font-weight: 400;
    }
}

.ico {
    position: absolute;
    z-index: 1;
    width: 40px;
    max-height: 100px;
    top: 15px;
    left: 260px;
    transition: 0.5s ease-out;
    opacity: 0;
}

.button {
    font-family: "VTB", sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    bottom: calc(50% - 43px / 2);
    right: 80px;
    z-index: 6;
    padding: 10px 30px;
    color: #fff;
    background: #00aaff;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    transform: translateY(70px);

    &:hover {
        background: #002882;
        transition: 0.3s;
        cursor: pointer;
    }
}

.disclamer {
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}

.disclamer_bolder {
    font-weight: 700;
}

.disclamer__text {
    font-family: "VTB", sans-serif;
    position: absolute;
    width: calc(100% - 90px);
    bottom: 10px;
    left: 10px;
    color: #002882;
    text-transform: uppercase;
    font-size: 7px;
    font-weight: 300;
    line-height: 1.2;
    text-align: justify;
    transition: 1s;
    opacity: 0;
    z-index: 6;
}
