@import "./fonts.scss";
@import "./screen-one.scss";
@import "./screen-two.scss";
@import "./screen-three.scss";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 300px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.wrapper {
    background: #3b5aff;
    width: inherit;
    height: inherit;
    overflow: inherit;
    position: inherit;
}

.bg1 {
    width: 100%;
    opacity: 1;
    position: absolute;
    z-index: 0;
    transition: 0.5s;
}

.bg2 {
    width: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: 0.5s;
}

.bg3 {
    width: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: 0.5s;
}

.banner {
    width: inherit;
    height: inherit;
    overflow: inherit;
    cursor: pointer;
    position: inherit;
    transition: 0.2s;
}

.logo {
    position: absolute;
    width: 70px;
    left: calc(50% - 70px / 2);
    top: 20px;
    z-index: 100;
}

.title-wrapper {
    position: absolute;
    width: 100%;
    left: 10px;
    top: 100px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-shadow: 0px 0px 14px #001dba;
    color: #fff;
    transition: 0.2s;
    opacity: 0;
}

.title-line-one {
    transition: 1s;
    transform: translateX(-500px);
}

.title-line-two {
    transition: 1.2s;
    transform: translateX(-500px);
}

.title-line-three {
    transition: 1.4s;
    transform: translateX(-500px);
}

.title-wrapper-two {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
    color: #fff;
    text-shadow: 0px 0px 24px #0024d8;
    width: 100%;
    top: 101px;
    left: 10px;
    transition: 1s;
    opacity: 0;
}

.title-two-line-one {
    transition: 1s;
    transform: translateX(-550px);
}

.title-two-line-two {
    transition: 1.2s;
    transform: translateX(-550px);
}

.line-two {
    width: 100%;
    left: 0;
    margin-top: 5px;
}

.title-two-line-three {
    transition: 1.4s;
    transform: translateX(-550px);
}

.title-two-line-four {
    transition: 1.6s;
    transform: translateX(-550px);
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 60px;
    width: 150px;
    bottom: 120px;
    left: 0;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 14px;
    line-height: 1;
    background: url(./text-bg2.png);
    background-repeat: no-repeat;
    color: #002b5d;
    z-index: 51;
    opacity: 0;
    transition: 1s;

    .text-one {
        margin-left: 10px;
        transition: 1s;
        transform: translateX(-500px);
    }

    .text-two {
        margin-left: 10px;
        transition: 1.2s;
        transform: translateX(-500px);
    }

    .text-three {
        font-size: 18px;
        color: #ff2056;
        margin-left: 10px;
        transition: 1.4s;
        transform: translateX(-500px);
    }
}

.text-wrapper-two {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 33px;
    line-height: 31px;
    text-shadow: 0px 0px 24px #0024d8;
    color: #ffe500;
    width: 100%;
    left: 10px;
    top: 145px;
    position: absolute;
    z-index: 51;
    opacity: 0;

    .text-one {
        transition: 1.4s;
        transform: translateX(-450px);
    }

    .text-two {
        transition: 1.6s;
        transform: translateX(-450px);
    }

    .text-three {
        transition: 1.8s;
        transform: translateX(-450px);
    }
}

.person {
    position: absolute;
    width: 278px;
    left: 28px;
    top: 202px;
    transform: translateX(-500px);
    transition: 1s;
    z-index: 50;
}

.button {
    z-index: 99;
    position: absolute;
    width: 260px;
    height: 58px;
    left: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffe600;
    border: none;
    border-radius: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #000;
    transition: 1s;
    transform: translateX(-500px);
    cursor: pointer;

    &:hover {
        background: #fff491;
        transition: 0.2s;
    }
}

.disclamer {
    position: absolute;
    width: 280px;
    left: 10px;
    top: 101px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13.2px;
    line-height: 1;
    color: #fff;
    transition: 0.2s;
    opacity: 0;
}

@keyframes buttonShadow {
    0% {
        box-shadow: 0px 0px 40px #ff3d6c;
    }
    50% {
        box-shadow: 0px 0px 40px 10px #ff3d6c;
    }
    100% {
        box-shadow: 0px 0px 40px #ff3d6c;
    }
}

.button-glow {
    animation: buttonShadow infinite 2s ease-in-out;
}
