@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@-webkit-keyframes autoLights {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes autoLights {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes starRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes starRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
@keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
.star-rotate {
  -webkit-animation: starRotate infinite 5s linear;
          animation: starRotate infinite 5s linear;
}

.auto-lights-anim {
  -webkit-animation: autoLights infinite 2s ease-in-out;
          animation: autoLights infinite 2s ease-in-out;
}

.button-glow {
  -webkit-animation: buttonShadow infinite 2s ease-in-out;
          animation: buttonShadow infinite 2s ease-in-out;
}

.screen-one .title-wrapper,
.screen-one .title-wrapper-two {
  opacity: 1;
}
.screen-one .title-line-one,
.screen-one .title-line-two {
  opacity: 1;
  transform: translateX(0);
}
.screen-one .text-wrapper {
  opacity: 1;
}
.screen-one .text-wrapper .text-one,
.screen-one .text-wrapper .text-two,
.screen-one .text-wrapper .text-three {
  opacity: 1;
  transform: translateX(0);
}
.screen-one .text-wrapper-two .text-one,
.screen-one .text-wrapper-two .text-two,
.screen-one .text-wrapper-two .text-three {
  opacity: 1;
  transform: translateX(-550px);
}
.screen-one .auto-lights {
  display: block;
}
.screen-one .jackpot {
  opacity: 1;
}

.screen-two {
  background: radial-gradient(106% 106% at 61.75% 106%, #ffd049 0%, #f30101 100%) !important;
}
.screen-two .auto,
.screen-two .text-wrapper,
.screen-two .auto-lights {
  transition: 0.2s;
  transform: translateX(-750px);
}
.screen-two .title-two,
.screen-two .person,
.screen-two .star {
  transition: 0.2s;
  transform: translateX(0);
}
.screen-two .text-wrapper .text-one,
.screen-two .text-wrapper .text-two,
.screen-two .text-wrapper .text-three {
  transition: 0.2s;
  opacity: 1;
  transform: translateX(-400px);
}
.screen-two .text-wrapper-two {
  opacity: 1;
}
.screen-two .text-wrapper-two .text-one,
.screen-two .text-wrapper-two .text-two,
.screen-two .text-wrapper-two .text-three {
  opacity: 1;
  transform: translateX(0);
}
.screen-two .banner {
  background-image: none;
}
.screen-two .title-line-one,
.screen-two .title-line-two {
  opacity: 0;
  transform: translateX(-400px);
  transition: 0.2s;
}
.screen-two .title-wrapper-two {
  transform: translateX(0);
}
.screen-two .jackpot {
  opacity: 0;
}

.screen-three {
  background: radial-gradient(63.4% 63.4% at 59.43% 28.4%, #F20303 0%, #F40E03 100%) !important;
}
.screen-three .title-wrapper-two,
.screen-three .moneypot,
.screen-three .person,
.screen-three .star,
.screen-three .text-wrapper-two {
  transform: translateX(-550px);
  transition: 0.2s;
}
.screen-three .button {
  transform: translateX(300px);
  transition: 0.2s;
}
.screen-three .disclamer {
  opacity: 1;
  transition: 1.5s;
}
.screen-three .person {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 728px;
  height: 90px;
  overflow: hidden;
  position: relative;
}

.wrapper {
  background: radial-gradient(46.8% 704.61% at 58.87% 76.8%, #ffd049 10.54%, #f30000 79.6%);
  width: inherit;
  height: inherit;
  overflow: inherit;
  position: relative;
  transition: 0.5s;
}

.banner {
  width: inherit;
  height: inherit;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.logo {
  position: absolute;
  height: 40px;
  left: 10px;
  top: 25px;
  z-index: 102;
}

.holiday {
  position: absolute;
  height: 40px;
  right: 0;
  top: 25px;
  z-index: 103;
}

.title-wrapper {
  position: absolute;
  left: 65px;
  top: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
  transition: 0.2s;
  opacity: 0;
}

.title-line-one {
  transition: 1s;
  transform: translateX(-300px);
}

.title-line-two {
  transition: 1.2s;
  transform: translateX(-300px);
}

.title-wrapper-two {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 600px;
  height: 30px;
  bottom: 0px;
  left: -121px;
  background-color: #f40101;
  transform: translateX(-550px);
  transition: 1s;
  opacity: 0;
}

.title-two-line-one {
  transition: 1s;
}
.title-two-line-one span {
  font-size: 20px;
}

.auto {
  position: absolute;
  width: 160px;
  left: 348px;
  top: -27px;
  transition: 1s;
  z-index: 10;
}

.auto-lights {
  position: absolute;
  top: 40px;
  width: 98px;
  left: 378px;
  transition: 1s;
  z-index: 11;
}

.text-wrapper {
  text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  left: 224px;
  top: 35px;
  position: absolute;
  z-index: 50;
  opacity: 0;
}
.text-wrapper .text-one {
  transition: 1.4s;
  transform: translateX(-500px);
}
.text-wrapper .text-two {
  font-size: 20px;
  transition: 1.6s;
  transform: translateX(-500px);
}
.text-wrapper .text-three {
  transition: 1.8s;
  transform: translateX(-500px);
}

.text-wrapper-two {
  position: absolute;
  top: 25px;
  left: 60px;
  text-align: left;
  text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  z-index: 51;
  opacity: 0;
}
.text-wrapper-two .text-one {
  transition: 1.4s;
  transform: translateX(-450px);
}
.text-wrapper-two .text-two {
  font-size: 20px;
  transition: 1.6s;
  transform: translateX(-450px);
}
.text-wrapper-two .text-three {
  transition: 1.8s;
  transform: translateX(-450px);
}

.jackpot {
  position: absolute;
  height: 20px;
  left: -29px;
  bottom: 0;
  transition: 0.2s;
}

.person {
  position: absolute;
  width: 273px;
  left: 319px;
  top: 5px;
  z-index: 100;
  transform: translateX(-700px);
  transition: 1s;
}

.star {
  position: absolute;
  width: 200px;
  right: 219px;
  top: -31px;
  mix-blend-mode: overlay;
  transition: 0.2s;
  z-index: 1;
}

.button {
  z-index: 101;
  position: absolute;
  width: 160px;
  height: 30px;
  right: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffdd00;
  border: none;
  border-radius: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #000000;
  transition: 0.2s;
  cursor: pointer;
  top: 35px;
}
.button:hover {
  background: #ffe95b;
  transition: 0.2s;
}

.disclamer {
  position: absolute;
  width: 570px;
  left: 60px;
  top: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 1;
  color: #ffffff;
  transition: 0.2s;
  opacity: 0;
}