.screen-one .title-wrapper,
.screen-one .title-wrapper-two {
  opacity: 1;
}
.screen-one .jackpot {
  opacity: 1;
  transition: 1.5s;
}
.screen-one .title-line-one,
.screen-one .title-line-two,
.screen-one .title-line-three {
  transform: translateX(0);
}
.screen-one .fly {
  transform: translateY(-20px);
  transition: 7s;
}