@font-face {
  font-family: "DaimlerCSPro";
  src: url(./DaimlerCSPro-Regular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "DaimlerCACPro";
  src: url(./DaimlerCACPro-Regular.woff) format("woff");
  font-weight: 400;
}