.about__animation {
    width: fit-content;
    display: inline-block;
    animation: hand-anim;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes hand-anim {
    0% {}
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    90% {
        transform: rotate(0);
    }
}