@font-face {
  font-family: "BMWTypeNextTT";
  src: url(./BMWTypeNextTT-Thin.woff) format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "BMWTypeNextTT";
  src: url(./BMWTypeNextTT-Light.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "BMWTypeNextTT";
  src: url(./BMWTypeNextTT-Regular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "BMWTypeNextTT";
  src: url(./BMWTypeNextTT-Bold.woff) format("woff");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  height: 100%;
}

.fs-visible {
  -webkit-animation: fs-transition;
          animation: fs-transition;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes fs-transition {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    background-color: #000;
  }
}

@keyframes fs-transition {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    background-color: #000;
  }
}
.page {
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  overflow-y: hidden;
  position: relative;
}

.fullscreen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.cursor {
  cursor: url(./default.svg) 16 16, default;
  transition: 0.2s;
}

.cursor_active {
  cursor: url(./active.svg) 7.5 7.5, default;
  transition: 0.2s;
}

.cursor__dot {
  background-color: #fff;
  width: 3px;
  height: 3px;
  border-radius: 50px;
}

.deactive-screen {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: 0.2s !important;
  -webkit-animation: display-none;
          animation: display-none;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes display-none {
  100% {
    display: none;
  }
}

@keyframes display-none {
  100% {
    display: none;
  }
}
.header {
  width: 100%;
  height: 100px;
  position: relative;
}

.close {
  position: absolute;
  right: 2vw;
  top: 2.5vh;
  width: 30px;
  height: 30px;
  z-index: 999;
  cursor: url("./pointer.svg") 16 16, pointer;
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #fff;
}

.close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header__nav {
  width: 100%;
  height: 100%;
}

.nav__list {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__list-filter {
  background-color: #000;
  position: absolute;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

.nav__list-item {
  position: relative;
  font-family: "BMWTypeNextTT", sans-serif;
  margin: 0;
  color: #fff;
  font-weight: 300;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
.nav__list-item p {
  opacity: 1;
  position: relative;
  z-index: 5;
}
.nav__list-item:nth-of-type(1) {
  background-image: url(./second-img.jpg);
}
.nav__list-item:nth-of-type(2) {
  background-position: center;
  background-image: url(./third-img.jpg);
}
.nav__list-item:nth-of-type(3) {
  background-position: center;
  background-image: url(./fourth-img-one.jpg);
}
.nav__list-item:nth-of-type(4) {
  background-position: left center;
  background-image: url(./fifth-img.jpg);
}
.nav__list-item:nth-of-type(5) {
  background-image: url(./last.jpg);
}
.nav__list-item:hover .nav__list-filter {
  opacity: 0.4;
}

.nav__list-item_active {
  border: 1px #fff solid;
}
.nav__list-item_active .nav__list-filter {
  opacity: 0.4;
}

.content {
  width: 100%;
  height: calc(100% - 100px);
  position: relative;
  overflow: hidden;
}

.default-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./first-img.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}

.text-wrapper {
  position: relative;
  display: flex;
  width: calc(100% - 500px);
  flex-direction: column;
  justify-content: space-between;
}

.logo-bmw {
  position: absolute;
  width: 9vw;
  top: 94px;
  left: calc(60% - (9vw / 2));
}

.logo-ix {
  background-image: url(./logos.png);
  background-size: auto 100%;
  background-position: left;
  background-repeat: no-repeat;
  width: 40%;
  height: 100%;
  position: relative;
}

.logo-head {
  margin: 75px auto 0 auto;
  width: calc(100% - 130px);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.the {
  font-family: "BMWTypeNextTT", sans-serif;
  margin: 0;
  color: #fff;
  font-weight: 300;
  font-size: 3vh;
  letter-spacing: 14.6px;
  text-transform: uppercase;
  position: absolute;
  top: 11.8vh;
  left: 4.3vw;
}

.text {
  font-family: "BMWTypeNextTT", sans-serif;
  margin: 0;
  color: #fff;
  margin-left: 50px;
  line-height: 1.5;
}

.first-line {
  letter-spacing: 10px;
  font-weight: 300;
  font-size: 3vh;
  margin-top: 11.8vh;
}

.bottom-text {
  position: absolute;
  bottom: 3vh;
}

.second-line {
  letter-spacing: 10px;
  font-weight: 300;
  font-size: 3vh;
}

.third-line {
  letter-spacing: 10px;
  font-weight: 300;
  font-size: 7vh;
  line-height: 1;
  margin-left: 9vw;
}

.button {
  font-family: "BMWTypeNextTT", sans-serif;
  margin: 0;
  color: #fff;
  position: absolute;
  bottom: 3vh;
  right: 17.6%;
  background-color: #0066b2;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 30px;
  transition: 0.2s;
  border: 1px solid transparent;
  z-index: 20;
}
.button:hover {
  transition: 0.2s;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: url(./pointer.svg) 16 16, pointer;
}

.first-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./second-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 115%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.first-screen .logo-ix {
  background-image: none;
  overflow: visible;
}
.first-screen .first-line {
  position: absolute;
  top: 152px;
  right: 100px;
  letter-spacing: 5px;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  width: 420px;
  margin: 0;
  text-transform: uppercase;
}
.first-screen .wrapper {
  left: calc(50% - -295px);
  top: calc(50% - 420px);
}
.first-screen .text_bottom-description {
  max-width: 51%;
}

.try-text {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}

.arrow {
  position: absolute;
  width: 100px;
  top: 226px;
  right: 290px;
  transform: rotate(179deg);
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}

.canvas-container {
  clear: both;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 500px);
  z-index: 100;
}

.border-container {
  position: absolute;
  width: 1000px;
  height: 600px;
  top: calc(50% - 300px);
  left: calc(50% - 500px);
}

.border-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.border {
  position: absolute;
}

.border-top {
  top: -133px;
  left: 30px;
  height: 235px;
  width: 930px;
  transform: rotate(13deg);
  z-index: 101;
}

.border-left {
  height: 600px;
  width: 111px;
  top: 0;
  left: -49px;
  transform: rotate(170deg);
  z-index: 102;
}

.border-right {
  height: 600px;
  width: 121px;
  right: -27px;
  top: 0;
  transform: rotate(10deg);
  z-index: 103;
}

.border-bottom {
  width: 900px;
  height: 261px;
  bottom: -103px;
  left: 0;
  transform: rotate(16deg);
  z-index: 104;
}

.border-left-top {
  width: 400px;
  height: 81px;
  top: 0;
  left: -200px;
  transform: rotate(116deg);
  z-index: 105;
}

.border-right-top {
  width: 400px;
  height: 101px;
  top: 100px;
  right: -73px;
  transform: rotate(62deg);
  z-index: 106;
}

.border-center-left {
  width: 600px;
  height: 182px;
  top: -150px;
  left: 14px;
  transform: rotate(72deg);
  z-index: 107;
}

.border-center {
  width: 125px;
  height: 300px;
  bottom: 140px;
  left: 328px;
  transform: rotate(-6deg);
  z-index: 108;
}

.border-center-right {
  height: 480px;
  width: 120px;
  right: 414px;
  top: -156px;
  transform: rotate(37deg);
  z-index: 109;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.canvas-hidden {
  -webkit-animation: opacity;
          animation: opacity;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: transparent !important;
}

.text-wrapper-bottom {
  width: 100%;
  height: 160px;
  bottom: 0;
  position: absolute;
  background: linear-gradient(0deg, #000 10%, transparent 100%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}

.text_bottom-title {
  text-align: center;
  font-weight: 300;
  letter-spacing: 10px;
  font-size: 30px;
  margin: 0 0 20px 0;
}

.text_bottom-description {
  text-align: center;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0;
}

@-webkit-keyframes show-hidden-text {
  100% {
    transform: translateY(0);
  }
}

@keyframes show-hidden-text {
  100% {
    transform: translateY(0);
  }
}
.show-hidden-text {
  -webkit-animation: show-hidden-text;
          animation: show-hidden-text;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.second-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./third-img.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.second-screen .arrow {
  transform: rotate(0);
  top: unset;
  bottom: 86px;
  left: 166px;
  width: 147px;
}
.second-screen .first-line {
  width: 610px;
  text-align: center;
  position: absolute;
  left: -35px;
  bottom: 0;
  margin: 0;
  font-size: 20px;
}
.second-screen .text_bottom-description {
  max-width: 40%;
}
.second-screen .logo-ix {
  background-image: none;
}
.second-screen .wrapper {
  left: 1.5vw;
  bottom: calc(50% - 150px);
  top: unset;
  height: 300px;
}
@media screen and (max-width: 1366px) {
  .second-screen .wrapper {
    bottom: calc(50% - 200px);
  }
}

.sound-btn {
  width: 72px;
  height: 72px;
  position: absolute;
  background-image: url(./sound-deactive.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 335px;
  bottom: 178px;
  transition: 0.2s;
  cursor: url(./pointer.svg) 16 16, pointer;
}

.sound-btn_active {
  background-image: url(./sound-active.svg);
}

.third-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./fourth-img-one.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.third-screen .arrow {
  transform: rotate(0);
  top: unset;
  bottom: 141px;
  left: -6px;
  width: 150px;
}
.third-screen .first-line {
  font-size: 20px;
  width: 500px;
  text-align: center;
  position: absolute;
  left: -425px;
  bottom: 48px;
}
.third-screen .text_bottom-description {
  max-width: 70%;
}
.third-screen .logo-ix {
  background-image: none;
}

.roof-active {
  background-image: url(./fourth-img-two.jpg);
}

.change-btn {
  background-color: transparent;
  border: 1px solid;
  transition: 0.2s;
  bottom: 250px;
  left: calc(50% - (160px / 2));
}
.change-btn:hover {
  transition: 0.2s;
  background-color: #0066b2;
}

.wrapper {
  position: absolute;
  height: 500px;
  width: 500px;
  left: calc(50% - 250px);
  top: calc(50% - 250px);
  overflow: visible;
}

.content__wrapper {
  position: relative;
  overflow: visible;
  margin: auto;
  height: 100%;
  width: 100%;
}

.fourth-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./fifth-img.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.fourth-screen .wrapper {
  left: 50px;
}
.fourth-screen .first-line {
  font-size: 20px;
  margin: 0;
  position: absolute;
  bottom: 50px;
  left: 50px;
  text-align: center;
  width: 300px;
}
.fourth-screen .fuel-btn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
  top: 165px;
  left: unset;
  right: 75px;
  transition: 0.2s;
}
.fourth-screen .fuel-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}
.fourth-screen .arrow {
  position: absolute;
  width: 150px;
  top: 200px;
  left: 150px;
  transform: rotate(0);
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.fourth-screen .text_bottom-description {
  max-width: 60%;
}
.fourth-screen .logo-ix {
  background-image: none;
}

.clock {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  width: 140px;
  height: 140px;
  padding: 0;
  top: 165px;
  right: 75px;
  transition: 0.2s;
  position: absolute;
  overflow: visible;
}
.clock .line-one {
  width: 1px;
  height: 70px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 70px;
}
.clock .line-two {
  width: 1px;
  height: 70px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 70px;
  transform-origin: bottom;
}
.clock .seconds {
  font-weight: 300;
  font-size: 24px;
  position: absolute;
  top: -33px;
  margin: 0;
  right: 19px;
}
.clock .minutes {
  position: absolute;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  bottom: -32px;
  left: -20px;
}

.clock-anim {
  -webkit-animation: clocl-timer;
          animation: clocl-timer;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes clocl-timer {
  100% {
    transform: rotate(38deg);
  }
}

@keyframes clocl-timer {
  100% {
    transform: rotate(38deg);
  }
}
.length-bar {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 100px;
  overflow: visible;
  transition: 0.2s;
}

.length-bar__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.length-bar__content .line {
  background-color: #0066b2;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
}
.length-bar__content .text {
  font-size: 25px;
  font-weight: 300;
  margin: 0 5px 0 0;
  z-index: 20;
}

@-webkit-keyframes dist {
  100% {
    transform: translateX(0);
  }
}

@keyframes dist {
  100% {
    transform: translateX(0);
  }
}
.dist-anim {
  -webkit-animation: dist;
          animation: dist;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.last-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.last-screen .cover {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}
.last-screen .logo-ix {
  background-image: none;
}
.last-screen .video_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.last-screen .player {
  width: 100%;
}
.last-screen .player_paused {
  opacity: 0.5;
}
.last-screen .play-button {
  width: 100px;
  height: 100px;
  border-top: 50px solid transparent;
  border-left: 100px solid #fff;
  border-bottom: 50px solid transparent;
  opacity: 0.5;
  transition: 0.2s;
  margin-bottom: 40px;
}
.last-screen .play-button:hover {
  transition: 0.2s;
  opacity: 0.8;
}
.last-screen .wrapper {
  z-index: 200;
}
.last-screen .content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.last-screen .video-description {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  text-align: center;
  letter-spacing: 10px;
}
.last-screen .button {
  z-index: 500;
}

.try-descr {
  letter-spacing: 5px !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 1.5 !important;
}/*# sourceMappingURL=fs.css.map */