@import "./fonts.scss";

@mixin font {
    font-family: "BMWTypeNextTT";
    margin: 0;
}

#color {
    $white: #fff !global;
    $blue: #0066b2 !global;
}

* {
    margin: 0;
    padding: 0;
}

.page {
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.cursor {
    cursor: url(./default.svg) 22 22, default;
    transition: 0.2s;
}

.cursor_active {
    cursor: url(./active.svg) 12 12, default;
    transition: 0.2s;
}

.cursor__dot {
    background-color: $white;
    width: 3px;
    height: 3px;
    border-radius: 50px;
}

.deactive-screen {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: 0.2s !important;
}

.header {
    width: 100%;
    height: 100px;
}

.header__nav {
    width: 100%;
    height: 100%;
}

.nav__list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__list-filter {
    background-color: #000;
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.nav__list-item {
    position: relative;
    @include font;
    color: $white;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    box-sizing: border-box;

    p {
        opacity: 1;
        position: relative;
        z-index: 5;
    }

    &:nth-of-type(1) {
        background-image: url(./second-img.jpg);
        background-position: center -44px;
    }
    &:nth-of-type(2) {
        background-position: center;
        background-image: url(./first-img.jpg);
    }
    &:nth-of-type(3) {
        background-position: center;
        background-image: url(./fourth-img-one.jpg);
    }
    &:nth-of-type(4) {
        background-position: left center;
        background-image: url(./fifth-img.jpg);
    }
    &:nth-of-type(5) {
        background-position: center -81px;
        background-image: url(./third-img.jpg);
    }

    &:hover .nav__list-filter {
        opacity: 0.4;
    }
}

.nav__list-item_active {
    border: 1px #fff solid;

    .nav__list-filter {
        opacity: 0.4;
    }
}

.content {
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
    overflow: hidden;
}

.default-screen {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./first-img.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}
.text-wrapper {
    position: relative;
    display: flex;
    width: calc(100% - 500px);
    flex-direction: column;
    justify-content: space-between;
}

.logo-bmw {
    position: absolute;
    width: 9vw;
    top: 94px;
    left: calc(60% - (9vw / 2));
}

.logo-ix {
    background-image: url(./logo-ix.png);
    background-size: 100% 100%;
    background-position: left;
    width: 500px;
    height: 100%;
    position: relative;
}

.logo-head {
    margin: 75px auto 0 auto;
    width: calc(100% - 130px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.the {
    @include font;
    color: $white;
    font-weight: 100;
    font-size: 2em;
    letter-spacing: 15px;
    text-transform: uppercase;
    position: absolute;
    top: 112px;
    left: 41px;
}

.text {
    @include font;
    color: $white;
    text-transform: uppercase;
    margin-left: 50px;
}

.first-line {
    letter-spacing: 5px;
    font-weight: 100;
    font-size: 2em;
    margin-top: 112px;
}

.bottom-text {
    position: absolute;
    bottom: 80px;
}

.second-line {
    letter-spacing: 5px;
    font-weight: 100;
    font-size: 2em;
}

.third-line {
    letter-spacing: 15px;
    font-weight: 100;
    font-size: 3em;
    margin-left: 10vw;
}

.button {
    @include font;
    color: $white;
    position: absolute;
    bottom: 10vh;
    left: calc(58% - (174.39px / 2));
    background-color: #0066b2;
    font-size: 16px;
    font-weight: 100;
    padding: 10px 30px;
    transition: 0.2s;
    border: 1px solid transparent;

    &:hover {
        transition: 0.2s;
        background-color: transparent;
        border: 1px solid $white;
        cursor: url("./pointer.svg") 22 22, pointer;
    }
}

.first-screen {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./second-img.jpg);
    background-position: center -15vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;

    .logo-ix {
        background-image: none;
    }

    .first-line {
        position: absolute;
        top: 20vh;
        right: 9vw;
        letter-spacing: 5px;
        font-weight: 100;
        font-size: 1.3em;
        text-align: center;
        width: 500px;
        margin: 0;
    }
}

.canvas-container {
    clear: both;
    position: absolute;
    top: calc(63% - (500px / 2));
    left: calc(48% - (750px / 2));
}

canvas {
    border-radius: 100px 220px 160px 400px;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.canvas-hidden {
    animation: opacity;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}
