@import "./fonts.scss";

@mixin font {
    font-family: "BMWTypeNextTT";
    margin: 0;
}

#color {
    $white: #fff !global;
    $blue: #0066b2 !global;
}

* {
    margin: 0;
    padding: 0;
}

.page {
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.cursor {
    cursor: url(./default.svg) 22 22, default;
    transition: 0.2s;
}

.cursor_active {
    cursor: url(./active.svg) 12 12, default;
    transition: 0.2s;
}

.cursor__dot {
    background-color: $white;
    width: 3px;
    height: 3px;
    border-radius: 50px;
}

.header {
    width: 100%;
    height: 100px;
}

.header__nav {
    width: 100%;
    height: 100%;
}

.nav__list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__list-filter {
    background-color: #000;
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.nav__list-item {
    position: relative;
    @include font;
    color: $white;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    box-sizing: border-box;

    p {
        opacity: 1;
        position: relative;
        z-index: 5;
    }

    &:nth-of-type(1) {
        background-image: url(./second-img.jpg);
        background-position: center -44px;
    }
    &:nth-of-type(2) {
        background-position: center -78px;
        background-image: url(./first-img.jpg);
    }
    &:nth-of-type(3) {
        background-position: center -78px;
        background-image: url(./fourth-img-one.jpg);
    }
    &:nth-of-type(4) {
        background-position: center -93px;
        background-image: url(./fifth-img.jpg);
    }
    &:nth-of-type(5) {
        background-position: center -81px;
        background-image: url(./third-img.jpg);
    }
}

.nav__list-item_active {
    border: 1px #fff solid;
}

.content {
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
    overflow: hidden;
}

.default-screen {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./first-img.jpg);
    background-position: center -17vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.logo-bmw {
    position: absolute;
    width: 160px;
    top: 101px;
    right: 115px;
}

.logo-ix {
    position: absolute;
    top: 0;
    right: -130px;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.the {
    @include font;
    color: $white;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 15px;
    text-transform: uppercase;
    position: absolute;
    top: 110px;
    right: 480px;
}

.text {
    @include font;
    color: $white;
    position: absolute;
    text-transform: uppercase;
}

.first-line {
    letter-spacing: 5px;
    font-weight: 100;
    top: 110px;
    left: 60px;
    font-size: 30px;
}

.second-line {
    letter-spacing: 5px;
    font-weight: 100;
    bottom: 150px;
    left: 60px;
    font-size: 30px;
}

.third-line {
    letter-spacing: 15px;
    font-weight: 100;
    bottom: 80px;
    left: 185px;
    font-size: 50px;
}

.button {
    position: absolute;
    bottom: 80px;
    right: 122px;
    border: none;
    background-color: $blue;
    color: $white;
    font-size: 16px;
    @include font;
    font-weight: 100;
    padding: 10px 30px;
    transition: 0.2s;
    border: 1px solid transparent;

    &:hover {
        transition: 0.2s;
        background-color: transparent;
        border: 1px solid $white;
        cursor: url("./pointer.svg") 22 22, pointer;
    }
}
