@import "./fonts.scss";
@import "./animations.scss";
@import "./screen-one.scss";
@import "./screen-two.scss";
@import "./screen-three.scss";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 300px;
    height: 600px;
    overflow: hidden;
}

.wrapper {
    background: linear-gradient(180deg, #f40101 0%, #fb6137 100%);
    width: inherit;
    height: inherit;
    overflow: inherit;
    position: relative;
    transition: .5s;
}

.banner {
    width: 300px;
    height: 600px;
    overflow: hidden;
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-position: 100% 25%;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.logo {
    position: absolute;
    width: 58px;
    height: 61px;
    left: 14px;
    top: 13px;
}

.holiday {
    position: absolute;
    width: 122px;
    height: 58px;
    right: 0;
    top: 14px;
}

.title-wrapper {
    position: absolute;
    left: 0;
    top: 92px;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
    transition: 0.2s;
}

.title-line-one {
    transition: 0.8s;
    transform: translateX(-400px);
}
.title-line-two {
    transition: 1s;
    transform: translateX(-400px);
}

.title-wrapper-two {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    transition: 0.3s;
    top: 81px;
}

.title-two-line-one {
    transition: 0.8s;
    transform: translateX(-400px);
}

.title-two-line-two {
    transition: 1s;
    transform: translateX(-400px);
}

.auto {
    position: absolute;
    top: 66px;
    left: -69px;
    transition: 1s;
}

.auto-lights {
    position: absolute;
    top: 250px;
    left: 20px;
    display: none;
}

.text-wrapper {
    text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    top: 400px;
    position: absolute;
    z-index: 50;

    .text-one {
        font-size: 23px;
        transition: 0.8s;
        transform: translateX(-400px);
    }

    .text-two {
        font-size: 35px;
        transition: 1s;
        transform: translateX(-400px);
    }

    .text-three {
        font-size: 23px;
        transition: 1.2s;
        transform: translateX(-400px);
    }
}

.text-wrapper-two {
    text-shadow: 2.28px 0.55px 67px rgba(166, 4, 36, 0.9);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    top: 380px;
    position: absolute;
    z-index: 51;
    top: 425px;

    .text-one {
        font-size: 23px;
        transition: 1.4s;
        transform: translateX(-400px);
    }

    .text-two {
        font-size: 35px;
        transition: 1.6s;
        transform: translateX(-450px);
    }

    .text-three {
        font-size: 23px;
        transition: 1.8s;
        transform: translateX(-400px);
    }
}

.jackpot {
    position: absolute;
    width: 489px;
    height: 23px;
    left: -88px;
    top: 477px;
    opacity: 0;
    transform: rotate(3.35deg);
    transition: 1s;
}

.person {
    position: absolute;
    width: 831.77px;
    height: 828px;
    left: -232px;
    top: 159px;
    transform: translateX(-400px);
    transition: 1s;
}

.star {
    position: absolute;
    width: 450px;
    height: 432px;
    left: -75px;
    top: 76px;
    mix-blend-mode: overlay;
    transition: 0.2s;
    transform: translateX(150%);
    z-index: 0;
}

.button {
    z-index: 99;
    position: absolute;
    width: 255px;
    height: 58px;
    left: 23px;
    top: 524px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffdd00;
    border: none;
    border-radius: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background: #ffe95b;
        transition: 0.2s;
    }
}

.disclamer {
    position: absolute;
    width: 261px;
    height: 462px;
    left: 15px;
    top: 120px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10.7px;
    line-height: 13px;
    color: #ffffff;
    opacity: 0;
    transition: .2s;
}
