@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.scale-anim {
    animation: scale;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

@keyframes transition {
    0% {
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.anim {
    animation: transition;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}
