@import "./fonts.scss";
@import "./animation.scss";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 600px;
    height: 600px;
}

.page {
    width: 598px;
    height: 598px;
    overflow: hidden;
    border: 1px solid #000;
}

.banner {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.active {
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

.first-slide {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #3b6085;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title {
    font-family: "DIN2014", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.alert {
    width: 350px;
    top: 67px;
    left: 18px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alert__img {
    width: 220px;
    margin-bottom: 5px;
}

.alert__descr {
    font-weight: 900;
    font-size: 32px;
    font-family: "DINPRO", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    position: relative;
    overflow-x: hidden;

    .region {
        color: #c51f28;
    }

    .flare {
        position: absolute;
        top: 0;
        height: 100%;
        width: 45px;
        transform: skewX(20deg);
        left: -150%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    }
}

.footer {
    background-color: #c20000;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__alert {
    transform: translateY(4px);
}

.second-slide {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background-image: url(./bg-two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.spray {
    mix-blend-mode: screen;
    width: 200px;
    visibility: hidden;
}

.spray_left {
    top: 211px;
    left: -79px;
    transform: rotate(180deg);
}

.spray_right {
    top: 220px;
    right: -77px;
}

.img {
    position: absolute;
}

.img_left {
    top: 255px;
    left: -9px;
    transform: rotate(45deg);
    width: 150px;
}

.img_right {
    top: 250px;
    right: 0;
    width: 170px;
    transform: rotate(325deg);
}

.third-slide {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background-image: url(./bg-three.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.hours {
    bottom: 158px;
    right: 20px;
}

.freeze {
    left: 20px;
    bottom: 138px;
}

.sparkle {
    display: flex;
    width: 540px;
    height: 330px;
    left: -240px;
    bottom: 148px;
    mix-blend-mode: screen;
    overflow: hidden;
    align-content: center;
    align-items: center;
}

.transition {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}
