@keyframes card-deactive {
    0% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

.card-anim-deactive {
    animation: card-deactive ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes card-active {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-15deg);
        left: 70px;
    }
    100% {
        transform: rotate(0);
        left: 81px;
    }
}

.card-anim-active {
    animation: card-active ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 0.9s;
}

@keyframes snow {
    0% {
        top: -100px;
    }
    20% {
    }
    40% {
    }
    60% {
    }
    80% {
    }
    100% {
        top: 450px;
        transform: rotate(360deg);
    }
}

.let-it-snow {
    animation: snow linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-duration: 25s;
}

@keyframes hand {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

.hand-anim {
    animation: hand ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@keyframes transition {
    0% {
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.transition-anim {
    animation: transition ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes chair-anim {
    0%{}
    100%{transform: scale(1.2);}
}


@keyframes cart-one {
    0%{
        left: 57px;
    }
    50% {
        left: 80px;
    }
    100% {
        left: 57px;
    }
}

.cart-anim-one {
    animation: cart-one ease;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes cart-two {
    0%{
        left: 57px;
    }
    50% {
        left: 70px;
    }
    100% {
        left: -300px;
    }
}

.cart-anim-two {
    animation: cart-two ease;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: .7s;
}

@keyframes vtb-card {
    0%{

    }
    30% {
        transform: scale(1.1);
        transform: rotate(5deg);
    }
    70% {
        transform: scale(1.1);
        transform: rotate(-5deg);
    }
    100% {
        transform: scale(1);
        transform: rotate(0deg);
    }
}

.vtb-card-anim {
    animation: vtb-card ease;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 1s;
}