@-webkit-keyframes card-deactive {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
@keyframes card-deactive {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
.card-anim-deactive {
  -webkit-animation: card-deactive ease-in-out;
          animation: card-deactive ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes card-active {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-15deg);
    left: 70px;
  }
  100% {
    transform: rotate(0);
    left: 81px;
  }
}

@keyframes card-active {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-15deg);
    left: 70px;
  }
  100% {
    transform: rotate(0);
    left: 81px;
  }
}
.card-anim-active {
  -webkit-animation: card-active ease-in-out;
          animation: card-active ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}

@-webkit-keyframes snow {
  0% {
    top: -100px;
  }
  100% {
    top: 450px;
    transform: rotate(360deg);
  }
}

@keyframes snow {
  0% {
    top: -100px;
  }
  100% {
    top: 450px;
    transform: rotate(360deg);
  }
}
.let-it-snow {
  -webkit-animation: snow linear;
          animation: snow linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
}

@-webkit-keyframes hand {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes hand {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
.hand-anim {
  -webkit-animation: hand ease-in-out;
          animation: hand ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@-webkit-keyframes transition {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes transition {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.transition-anim {
  -webkit-animation: transition ease-in-out;
          animation: transition ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes chair-anim {
  100% {
    transform: scale(1.2);
  }
}

@keyframes chair-anim {
  100% {
    transform: scale(1.2);
  }
}/*# sourceMappingURL=animation.css.map */