* {
  margin: 0;
  padding: 0;
}

html,
.banner {
  width: 320px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}

.banner {
  display: flex;
}

.content-wrapper {
  background: linear-gradient(0deg, #263238, #263238), radial-gradient(148.16% 123.15% at 48.94% -21.25%, #3b779f 0%, #141a2c 100%);
  width: 155px;
  position: relative;
}

.logo {
  position: absolute;
  width: 36px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #263238;
  padding: 16px 7px;
}

.image-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 155px);
}

.image {
  position: absolute;
  top: 0;
  left: 50px;
  width: calc(100% - 50px);
  transition: 1s;
}

.image-one {
  opacity: 1;
}

.image-two {
  opacity: 0;
}

.image-three {
  opacity: 0;
}

.image-four {
  opacity: 0;
}

.title {
  position: absolute;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  top: 6px;
  left: 0;
  transition: 1s;
}

.title-one {
  opacity: 1;
}

.title-two {
  top: -3px;
  font-size: 24px;
  line-height: 32px;
  opacity: 0;
}

.title-three {
  top: 6px;
  opacity: 0;
}

.description {
  position: absolute;
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ebca7f;
  width: 100%;
  bottom: 8px;
  left: 0;
  transition: 1s;
}
.description span {
  font-weight: 900;
  font-feature-settings: "pnum" on, "lnum" on;
}

.description-one {
  opacity: 1;
}

.description-two {
  bottom: 8px;
  font-size: 12px;
  line-height: 16px;
  opacity: 0;
}

.description-three {
  bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  opacity: 0;
}

.button {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  right: 15px;
  top: calc(50% - 12.5px);
  width: 125px;
  height: 25px;
  background: #c5a357;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  background: #bda164;
}