@-webkit-keyframes autoLights {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes autoLights {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes starRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes starRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
@keyframes buttonShadow {
  0% {
    box-shadow: 0px 0px 40px #fff;
  }
  50% {
    box-shadow: 0px 0px 40px 10px #fff;
  }
  100% {
    box-shadow: 0px 0px 40px #fff;
  }
}
.star-rotate {
  -webkit-animation: starRotate infinite 5s linear;
          animation: starRotate infinite 5s linear;
}

.auto-lights-anim {
  -webkit-animation: autoLights infinite 2s ease-in-out;
          animation: autoLights infinite 2s ease-in-out;
}

.button-glow {
  -webkit-animation: buttonShadow infinite 2s ease-in-out;
          animation: buttonShadow infinite 2s ease-in-out;
}